FORMAT: 1A
HOST: http://felixlapal.me/

# Oktoberfest

L'API du truc de l'évènement où le monde boivent de la bière.

## Information générale [/info]

### Get general info [GET]

+ Response 200 (application/json)
    + Attributes
        - start_time: `09-30-2016 18:00` (string)
        - sponsors (array)
          - (Sponsor)
              - id: 1
              - `image_url`: `http://felixlapal.me/okto/desjardins_logo.png`
          - (Sponsor)
              - id: 2
              - `image_url`: `https\://oktoberfest.ageg.ca/xvi/assets/images/partenaire_voltaic.png`
          - (Sponsor)
              - id: 3
              - `image_url`: `https\://oktoberfest.ageg.ca/xvi/assets/images/partenaire_keith.png`
          - (Sponsor)
              - id: 4
              - `image_url`: `https\://oktoberfest.ageg.ca/xvi/assets/images/partenaire_saucisse.png`
          - (Sponsor)
              - id: 5
              - `image_url`: `https\://oktoberfest.ageg.ca/xvi/assets/images/partenaire_ageg.png`

## Programmation [/schedule_items]

### Get All Schedule Items [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (Schedule Item)
            - id: 1
            - name: `Mu⁠sik⁠meis⁠ter⁠s`
            - start_time: `08-08-2016 18:15`
            - large_image_url: `http://felixlapal.me/okto/musikmeisters2.jpeg`
            - small_image_url: `http://felixlapal.me/okto/french_horn_96.png`
        - (Schedule Item)
            - id: 2
            - name: `AGEG Band`
            - start_time: `08-08-2016 20:30`
            - large_image_url: `http://felixlapal.me/okto/agegband2.jpeg`
            - small_image_url: `http://felixlapal.me/okto/guitar_96.png`
        - (Schedule Item)
            - id: 3
            - name: `DJ: Rising Edge`
            - start_time: `08-08-2016 1:30`
            - large_image_url: `http://felixlapal.me/okto/dj2.jpeg`
            - small_image_url: `http://felixlapal.me/okto/dj_96.png`

## Horaire bus [/bus_schedule]

### Get horaire bus [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (Bus Path)
            - id: 1
            - title: `Campus Principal`
            - interval: 15 (number, required)
            - additionnal_string: ` ` (string)
            - start_time: `17:00` (string)
            - thumbnail_url: `http://felixlapal.me/okto/campus.PNG`
            - csv: `-71.96375,45.42155,0.0\n-71.96371,45.42158,0.0\n-71.96433,45.421910000000004,0.0\n-71.96342,45.42274,0.0\n-71.96374,45.42292,0.0\n-71.9642,45.42316,0.0\n-71.96379,45.42356,0.0\n-71.96368,45.42367,0.0\n-71.9636,45.42379,0.0\n-71.96351,45.42393,0.0\n-71.96336,45.42411,0.0\n-71.9632,45.42439,0.0\n-71.96309,45.42461,0.0\n-71.96304,45.42469,0.0\n-71.96297,45.42481000000001,0.0\n-71.96312000000002,45.42485,0.0\n-71.96347,45.42492,0.0\n-71.96403,45.42506,0.0\n-71.9647,45.42525,0.0\n-71.96508,45.42536,0.0\n-71.96539,45.42543,0.0\n-71.96629,45.42581,0.0\n-71.96659000000001,45.42593,0.0\n-71.96665,45.42596,0.0\n-71.96676,45.426,0.0\n-71.96682,45.42602,0.0\n-71.96691,45.42606,0.0\n-71.9672,45.42618,0.0\n-71.96768,45.42638,0.0\n-71.96884000000001,45.42687,0.0\n-71.96915,45.42698,0.0\n-71.96948,45.42709,0.0\n-71.96964,45.42714,0.0\n-71.96996,45.42723,0.0\n-71.9687,45.42869,0.0\n-71.96809,45.4285,0.0\n-71.96779,45.42837,0.0\n-71.96756,45.42828,0.0\n-71.9674,45.42821,0.0\n-71.96732,45.42817,0.0\n-71.96726,45.42813,0.0\n-71.96717,45.42807,0.0\n-71.96712,45.42803,0.0\n-71.96703,45.42795,0.0\n-71.96692,45.42784000000001,0.0\n-71.96686,45.42775,0.0\n-71.96681,45.427670000000006,0.0\n-71.96678,45.42758,0.0\n-71.96676,45.4275,0.0\n-71.96675,45.42745,0.0\n-71.96674,45.42737,0.0\n-71.96673,45.42728,0.0\n-71.96674,45.42721,0.0\n-71.96675,45.42714,0.0\n-71.96677,45.42706,0.0\n-71.96681,45.42696,0.0\n-71.96687,45.42685,0.0\n-71.96692,45.42674,0.0\n-71.967,45.42663,0.0\n-71.96703,45.42657,0.0\n-71.96703,45.42648,0.0\n-71.9671,45.42639,0.0\n-71.96733,45.4261,0.0\n-71.96759,45.42579,0.0\n-71.96794,45.42539,0.0\n-71.96846,45.4248,0.0\n-71.96856,45.42476,0.0\n-71.96862,45.42471,0.0\n-71.96874,45.4246,0.0\n-71.96894,45.42439,0.0\n-71.96947,45.42393,0.0\n-71.96957,45.42384,0.0\n-71.96969,45.42376,0.0\n-71.96981,45.42369,0.0\n-71.96998,45.4236,0.0\n-71.97015,45.42352,0.0\n-71.9703,45.42347,0.0\n-71.97043,45.42343,0.0\n-71.97054,45.42341,0.0\n-71.97071,45.42338000000001,0.0\n-71.97084,45.42336,0.0\n-71.97098,45.42336,0.0\n-71.97115,45.42336,0.0\n-71.97141,45.42337,0.0\n-71.9721,45.42341,0.0\n-71.97274000000002,45.42344,0.0\n-71.9729,45.42343,0.0\n-71.97305,45.42342,0.0\n-71.97316,45.4234,0.0\n-71.97329,45.42338000000001,0.0\n-71.97341,45.42335,0.0\n-71.97354,45.42331,0.0\n-71.97367,45.42327,0.0\n-71.97379,45.42322,0.0\n-71.97388,45.42318,0.0\n-71.97399,45.42311,0.0\n-71.97408,45.42306,0.0\n-71.97424,45.42293,0.0\n-71.97436,45.42281,0.0\n-71.97447,45.42268,0.0\n-71.97456,45.42252,0.0\n-71.97462,45.42238,0.0\n-71.97464,45.42229,0.0\n-71.97466,45.42219,0.0\n-71.97467,45.4221,0.0\n-71.97467,45.42199,0.0\n-71.97466,45.42183,0.0\n-71.97464,45.42173,0.0\n-71.97461,45.42164,0.0\n-71.97459,45.42157,0.0\n-71.97455,45.42148,0.0\n-71.97451,45.42139,0.0\n-71.97444,45.42127,0.0\n-71.9744,45.4212,0.0\n-71.97433,45.42111,0.0\n-71.97417,45.42094,0.0\n-71.974,45.42081,0.0\n-71.97387,45.42072,0.0\n-71.97376,45.42065000000001,0.0\n-71.97346,45.420480000000005,0.0\n-71.97282,45.42014,0.0\n-71.97218,45.4198,0.0\n-71.96822,45.41769,0.0\n-71.96685,45.416970000000006,0.0\n-71.96646,45.41677,0.0\n-71.96605,45.41656,0.0\n-71.96559,45.41631,0.0\n-71.96537,45.41618,0.0\n-71.96524,45.41611,0.0\n-71.965,45.41596,0.0\n-71.96481,45.41585,0.0\n-71.9647,45.41577,0.0\n-71.96449,45.41562,0.0\n-71.96437,45.41554000000001,0.0\n-71.96423,45.41542,0.0\n-71.96409,45.41532000000001,0.0\n-71.96396,45.41519000000001,0.0\n-71.96386,45.41511,0.0\n-71.96378,45.41503,0.0\n-71.96364,45.4149,0.0\n-71.96356,45.41481,0.0\n-71.96344,45.41467,0.0\n-71.96333,45.41455,0.0\n-71.96327,45.41448,0.0\n-71.96317,45.41435,0.0\n-71.96306,45.41422,0.0\n-71.96298,45.4141,0.0\n-71.96292,45.41401,0.0\n-71.96283,45.41388,0.0\n-71.96268,45.41361,0.0\n-71.96256,45.41337,0.0\n-71.9625,45.41325,0.0\n-71.96242,45.41305,0.0\n-71.96235,45.41286,0.0\n-71.9623,45.41269,0.0\n-71.96226,45.41254,0.0\n-71.96222,45.41239,0.0\n-71.96219,45.41222,0.0\n-71.96216,45.41204,0.0\n-71.96213,45.41183,0.0\n-71.96197,45.41037,0.0\n-71.96183,45.40923,0.0\n-71.96179,45.4088,0.0\n-71.96175,45.408480000000004,0.0\n-71.96165,45.40766,0.0\n-71.96151,45.40648,0.0\n-71.96134,45.40507,0.0\n-71.96125,45.404320000000006,0.0\n-71.96101,45.40221,0.0\n-71.96086,45.40103,0.0\n-71.96079,45.40045,0.0\n-71.96076,45.40024,0.0\n-71.96071,45.39994,0.0\n-71.96068,45.39974,0.0\n-71.96064,45.39954,0.0\n-71.96058,45.39925,0.0\n-71.96052000000002,45.39898,0.0\n-71.96044,45.39868,0.0\n-71.96039,45.39847,0.0\n-71.96032,45.39822,0.0\n-71.96024,45.39796,0.0\n-71.96009,45.39747,0.0\n-71.95997,45.39712,0.0\n-71.95957000000001,45.39611,0.0\n-71.95935,45.39556,0.0\n-71.95931,45.39545,0.0\n-71.95919,45.39513,0.0\n-71.95903,45.39474,0.0\n-71.95888000000001,45.394400000000005,0.0\n-71.95864,45.39384,0.0\n-71.95784,45.39194,0.0\n-71.95744,45.39087,0.0\n-71.95679,45.38925,0.0\n-71.95659,45.3887,0.0\n-71.95635,45.38809,0.0\n-71.95624,45.38784,0.0\n-71.95589,45.38697,0.0\n-71.95558,45.38623,0.0\n-71.95366,45.38147,0.0\n-71.95357,45.38125,0.0\n-71.95325,45.38044,0.0\n-71.95309,45.38004,0.0\n-71.95279,45.37935,0.0\n-71.95263,45.37901,0.0\n-71.95262,45.37899,0.0\n-71.95238,45.37852,0.0\n-71.95214,45.37813,0.0\n-71.95182,45.37763,0.0\n-71.95151,45.37719,0.0\n-71.95124,45.37683,0.0\n-71.95095,45.37647,0.0\n-71.95077,45.37625,0.0\n-71.95064000000002,45.3761,0.0\n-71.9498,45.37522,0.0\n-71.94947,45.37492,0.0\n-71.94917,45.37466,0.0\n-71.94881,45.37435,0.0\n-71.94849,45.37409,0.0\n-71.94811,45.37378,0.0\n-71.94772,45.37349,0.0\n-71.94752,45.37334,0.0\n-71.94731,45.37319,0.0\n-71.94688,45.3729,0.0\n-71.9466,45.37273,0.0\n-71.94632,45.37255,0.0\n-71.946,45.37235,0.0\n-71.94551,45.37209,0.0\n-71.94511,45.37185,0.0\n-71.94484000000001,45.37169,0.0\n-71.94363,45.37098,0.0\n-71.94291,45.37057,0.0\n-71.94223,45.3702,0.0\n-71.94188,45.37004,0.0\n-71.94154,45.36988,0.0\n-71.94123,45.36974,0.0\n-71.94093,45.36961,0.0\n-71.94031,45.36938,0.0\n-71.94012,45.36932,0.0\n-71.93937,45.36905000000001,0.0\n-71.93867,45.36883,0.0\n-71.93727,45.36838,0.0\n-71.93689,45.36826,0.0\n-71.93645,45.36813,0.0\n-71.93629,45.36808,0.0\n-71.93594,45.36798,0.0\n-71.93564,45.3679,0.0\n-71.93548,45.36787,0.0\n-71.93544,45.36786,0.0\n-71.93533,45.36784,0.0\n-71.9352,45.36782,0.0\n-71.93508,45.36781,0.0\n-71.93501,45.3678,0.0\n-71.93484,45.36778,0.0\n-71.93462,45.36777,0.0\n-71.9344,45.36777,0.0\n-71.93422,45.36777,0.0\n-71.93415,45.36826,0.0\n-71.9341,45.36854,0.0\n-71.93406,45.3687,0.0\n-71.93403,45.3688,0.0\n-71.93398,45.3689,0.0\n-71.93386,45.36922,0.0\n-71.93352,45.36997,0.0\n-71.93336,45.37027,0.0\n-71.93318,45.37069,0.0\n-71.93314,45.37079,0.0\n-71.93308,45.37093,0.0\n-71.93298,45.37121,0.0\n-71.93296,45.37128,0.0\n-71.93292,45.37142,0.0\n-71.93287,45.37162,0.0\n-71.93283,45.3718,0.0\n-71.93281,45.3719,0.0\n-71.93278,45.37204,0.0\n-71.93277,45.37218,0.0\n-71.93277,45.37222,0.0\n-71.93294,45.37223,0.0\n-71.93341,45.37230000000001,0.0\n-71.93294,45.37223,0.0\n-71.93277,45.37222,0.0\n-71.93276,45.37231,0.0\n-71.93276,45.37253,0.0\n-71.93277,45.37279,0.0\n-71.93279,45.37305,0.0\n-71.93279,45.3731,0.0\n-71.93281,45.37341,0.0\n-71.93282,45.37360000000001,0.0\n-71.93285,45.37404,0.0\n-71.93287,45.37436,0.0\n-71.93291,45.37532,0.0\n-71.93292,45.37547,0.0\n-71.93288,45.37557,0.0\n-71.93284,45.37572,0.0\n-71.93268,45.37689,0.0\n-71.93264,45.37701,0.0\n-71.93262,45.37706,0.0\n-71.93258,45.3771,0.0\n-71.93254,45.37715,0.0\n-71.93247,45.3772,0.0\n-71.9324,45.37724000000001,0.0\n-71.93233,45.37727,0.0\n-71.93224,45.37731,0.0\n-71.93217,45.37733,0.0\n-71.93206,45.37734,0.0\n-71.93193,45.37736,0.0\n-71.93186,45.377370000000006,0.0\n-71.93164,45.37743,0.0\n-71.93093,45.37742,0.0\n-71.93029,45.3774,0.0\n-71.93015,45.3774,0.0\n-71.92977,45.37741,0.0\n-71.92931,45.37714,0.0\n-71.92927,45.37712,0.0\n-71.92923,45.3771,0.0\n-71.92919,45.37709,0.0\n-71.92913,45.37708,0.0\n-71.92891,45.37707,0.0\n-71.92885,45.37688,0.0\n-71.92885,45.37613,0.0\n-71.92854,45.37613,0.0\n-71.92853,45.37686,0.0\n-71.92885,45.37688,0.0\n-71.92891,45.37707,0.0\n-71.929,45.37741,0.0\n-71.92855000000002,45.37741,0.0\n-71.92845,45.37745,0.0\n-71.92842,45.37747,0.0\n-71.92839,45.37749,0.0\n-71.92839,45.37751,0.0\n-71.92838,45.37752,0.0\n-71.92839,45.37755,0.0\n-71.92839,45.37756,0.0\n-71.9284,45.37758,0.0\n-71.92842,45.37759,0.0\n-71.92844,45.3776,0.0\n-71.92854,45.37763,0.0\n-71.92885,45.37763,0.0\n-71.92911,45.37763,0.0\n-71.92922,45.37763,0.0\n-71.92937,45.37762,0.0\n-71.92955,45.37762,0.0\n-71.93019,45.37762,0.0\n-71.93038,45.37762,0.0\n-71.93128,45.37764,0.0\n-71.93172,45.37763,0.0\n-71.93195,45.37763,0.0\n-71.93205,45.37763,0.0\n-71.93214,45.37764,0.0\n-71.93227,45.37766,0.0\n-71.93233,45.37767,0.0\n-71.93246,45.3777,0.0\n-71.93255,45.37774,0.0\n-71.93267,45.37781,0.0\n-71.93273,45.37787,0.0\n-71.93278,45.37795,0.0\n-71.93282,45.37806,0.0\n-71.93286,45.37858,0.0\n-71.93289,45.37874,0.0\n-71.93297000000001,45.379,0.0\n-71.93307,45.37929,0.0\n-71.93309,45.37996,0.0\n-71.93315,45.38079,0.0\n-71.93319,45.38142,0.0\n-71.93319,45.38154,0.0\n-71.93336,45.38154,0.0\n-71.93525,45.38151,0.0\n-71.93645,45.38149,0.0\n-71.93739,45.38147,0.0\n-71.93852,45.38145,0.0\n-71.93959,45.38142,0.0\n-71.9399,45.38141,0.0\n-71.94022,45.38139,0.0\n-71.94044,45.38137,0.0\n-71.94064,45.38135,0.0\n-71.94109,45.38129,0.0\n-71.94153,45.38121,0.0\n-71.94175,45.38116,0.0\n-71.94197,45.3811,0.0\n-71.94228,45.38102,0.0\n-71.94258000000002,45.38092000000001,0.0\n-71.94284,45.38083,0.0\n-71.94301,45.38077,0.0\n-71.94307,45.380750000000006,0.0\n-71.94335,45.38063,0.0\n-71.94358,45.38053,0.0\n-71.94375,45.38044,0.0\n-71.94387,45.38038,0.0\n-71.94405,45.38028,0.0\n-71.94443,45.38008,0.0\n-71.94457,45.37998,0.0\n-71.94475,45.37987,0.0\n-71.94642,45.37887,0.0\n-71.94656,45.37878,0.0\n-71.94666,45.37873,0.0\n-71.94861,45.37754000000001,0.0\n-71.94918,45.37751,0.0\n-71.94942,45.37751,0.0\n-71.94955,45.37751,0.0\n-71.94968,45.3775,0.0\n-71.94982,45.37749,0.0\n-71.95015,45.37751,0.0\n-71.95049,45.37756,0.0\n-71.95086,45.37764,0.0\n-71.95113,45.37775,0.0\n-71.95138,45.37787,0.0\n-71.95149,45.37795,0.0\n-71.95159,45.37804,0.0\n-71.95171,45.37814,0.0\n-71.95186000000001,45.37832,0.0\n-71.95201,45.37853,0.0\n-71.95224,45.37887,0.0\n-71.95241,45.37915,0.0\n-71.95259,45.37951,0.0\n-71.9527,45.3797,0.0\n-71.95283,45.37978,0.0\n-71.95294,45.38005,0.0\n-71.95309,45.38041,0.0\n-71.9532,45.38068,0.0\n-71.95334,45.381,0.0\n-71.95345,45.38129,0.0\n-71.95363,45.38174,0.0\n-71.95461,45.38417,0.0\n-71.95546,45.38625,0.0\n-71.9558,45.38707,0.0\n-71.95606,45.3877,0.0\n-71.95619,45.38803,0.0\n-71.95626,45.38822,0.0\n-71.95643,45.38862,0.0\n-71.95659,45.38903,0.0\n-71.95668,45.38929,0.0\n-71.95684,45.38965,0.0\n-71.95735,45.39095,0.0\n-71.95781,45.39207,0.0\n-71.95866,45.39417,0.0\n-71.95908,45.39522,0.0\n-71.95942,45.39606,0.0\n-71.95968,45.39672,0.0\n-71.9598,45.39702,0.0\n-71.95984,45.39718,0.0\n-71.95988,45.39729,0.0\n-71.9599,45.39738,0.0\n-71.95993,45.39749,0.0\n-71.95995,45.39761,0.0\n-71.95997,45.39772,0.0\n-71.96002,45.39809,0.0\n-71.96005,45.39831,0.0\n-71.96009,45.39861,0.0\n-71.96022,45.3997,0.0\n-71.96034,45.40066,0.0\n-71.96074,45.40416,0.0\n-71.96108,45.40695,0.0\n-71.9612,45.40793,0.0\n-71.96127,45.40863,0.0\n-71.96132,45.40895,0.0\n-71.96139,45.40958,0.0\n-71.96154,45.41081,0.0\n-71.96161,45.4114,0.0\n-71.96165,45.41174,0.0\n-71.96168,45.41197,0.0\n-71.96172,45.41224,0.0\n-71.96176,45.41244,0.0\n-71.9618,45.41259,0.0\n-71.96186,45.41281000000001,0.0\n-71.9619,45.41295,0.0\n-71.96201,45.41324000000001,0.0\n-71.96213,45.4135,0.0\n-71.96222,45.41368,0.0\n-71.9623,45.41385,0.0\n-71.96239,45.414,0.0\n-71.96249,45.41415,0.0\n-71.9626,45.41431,0.0\n-71.9627,45.41444,0.0\n-71.96281,45.41458,0.0\n-71.96283,45.41462,0.0\n-71.96297,45.41478,0.0\n-71.96312000000002,45.41496,0.0\n-71.96316,45.41505,0.0\n-71.96317,45.41508,0.0\n-71.9632,45.41513,0.0\n-71.96324,45.41517,0.0\n-71.96349,45.41545,0.0\n-71.96367,45.41561,0.0\n-71.96387,45.41581,0.0\n-71.96401,45.41593,0.0\n-71.96413,45.41604,0.0\n-71.96435,45.41621,0.0\n-71.96452,45.41634,0.0\n-71.96509,45.41674,0.0\n-71.96528,45.41686,0.0\n-71.96544,45.416970000000006,0.0\n-71.96563000000002,45.41709,0.0\n-71.96613,45.41738,0.0\n-71.96652,45.41761,0.0\n-71.9671,45.41794,0.0\n-71.96745,45.41813,0.0\n-71.96808,45.41847,0.0\n-71.96817,45.41852,0.0\n-71.96827,45.41859,0.0\n-71.96833,45.41865,0.0\n-71.96836,45.41869,0.0\n-71.96839,45.41872,0.0\n-71.96841,45.41876,0.0\n-71.96842,45.41878,0.0\n-71.96843,45.4188,0.0\n-71.96843,45.41883,0.0\n-71.96844,45.41885,0.0\n-71.96844,45.41889,0.0\n-71.96844,45.41894,0.0\n-71.96844,45.41899,0.0\n-71.96843,45.41903,0.0\n-71.96842,45.41906,0.0\n-71.9684,45.4191,0.0\n-71.96838,45.41913,0.0\n-71.96829,45.41923,0.0\n-71.96826,45.41926,0.0\n-71.96804,45.41949,0.0\n-71.96782,45.41973,0.0\n-71.96776,45.41979,0.0\n-71.96747,45.42005,0.0\n-71.96677,45.42075,0.0\n-71.96674,45.42079,0.0\n-71.9667,45.42082,0.0\n-71.96617,45.42131,0.0\n-71.9656,45.42184,0.0\n-71.96484,45.42143000000001,0.0\n-71.9648,45.42139,0.0\n-71.96475,45.42132,0.0\n-71.96472,45.42130000000001,0.0\n-71.96339,45.4206,0.0\n-71.96317,45.42081,0.0\n-71.96298,45.42099,0.0\n-71.96284,45.42111,0.0\n-71.96283,45.42112,0.0\n-71.96363,45.42154,0.0`(string)
        - (Bus Path)
            - id: 2
            - title: `Galeries Quatre-Saisons`
            - interval: 30 (number, required)
            - additionnal_string: ` ` (string)
            - start_time: `17:00` (string)
            - thumbnail_url: `http://felixlapal.me/okto/4sais.PNG`
            - csv: `-71.86976,45.421,0.0\n-71.86978,45.42125,0.0\n-71.86979,45.42153,0.0\n-71.86978,45.42246,0.0\n-71.8698,45.4225,0.0\n-71.86983,45.42252,0.0\n-71.86988,45.42253,0.0\n-71.87059,45.42252,0.0\n-71.8709,45.42251,0.0\n-71.87098,45.42252,0.0\n-71.87103,45.42253,0.0\n-71.87112,45.42256,0.0\n-71.87121,45.42256,0.0\n-71.87149,45.42256,0.0\n-71.87212,45.42255,0.0\n-71.87291,45.42254,0.0\n-71.87278,45.42302,0.0\n-71.87264,45.42344,0.0\n-71.87257,45.42368,0.0\n-71.8725,45.42389,0.0\n-71.87245,45.424,0.0\n-71.87237,45.42417,0.0\n-71.8723,45.42432,0.0\n-71.87219,45.42452,0.0\n-71.87205,45.42474,0.0\n-71.87201,45.4248,0.0\n-71.87198,45.42484,0.0\n-71.87192,45.42492,0.0\n-71.87184,45.42501,0.0\n-71.87175,45.42512,0.0\n-71.87164,45.42523,0.0\n-71.8716,45.42537,0.0\n-71.87001,45.42666,0.0\n-71.86965,45.42696,0.0\n-71.86952,45.42707,0.0\n-71.86935,45.42723,0.0\n-71.86916,45.42743,0.0\n-71.86897,45.42765,0.0\n-71.86888,45.42777,0.0\n-71.86882,45.42786,0.0\n-71.86877,45.42795,0.0\n-71.86867,45.42812,0.0\n-71.86849,45.42848,0.0\n-71.86846,45.42858,0.0\n-71.86844,45.42865,0.0\n-71.86839,45.42882,0.0\n-71.86836,45.42895,0.0\n-71.86833,45.4291,0.0\n-71.86832,45.42922,0.0\n-71.86831,45.42935,0.0\n-71.86831,45.42951,0.0\n-71.86835,45.43204,0.0\n-71.86837,45.4339,0.0\n-71.86837,45.43446,0.0\n-71.86838,45.43501,0.0\n-71.86837,45.43527,0.0\n-71.86839,45.43596,0.0\n-71.86839,45.43607,0.0\n-71.86842,45.43732,0.0\n-71.86842,45.43762,0.0\n-71.86842,45.43791,0.0\n-71.86842,45.43809,0.0\n-71.86842,45.43911,0.0\n-71.86758,45.43913,0.0\n-71.8674,45.43912,0.0\n-71.8673,45.43912,0.0\n-71.86722,45.43911,0.0\n-71.86715,45.43911,0.0\n-71.867,45.43909,0.0\n-71.86693,45.43908,0.0\n-71.86688,45.43906,0.0\n-71.86682,45.43904,0.0\n-71.86677,45.43903,0.0\n-71.86671,45.439,0.0\n-71.86667,45.43898,0.0\n-71.86664,45.43896,0.0\n-71.8666,45.43893,0.0\n-71.86658,45.43891,0.0\n-71.86656,45.43889,0.0\n-71.86653,45.43886,0.0\n-71.8665,45.43881,0.0\n-71.86649,45.43878,0.0\n-71.86648,45.43874,0.0\n-71.86646,45.4387,0.0\n-71.86646,45.43865,0.0\n-71.86646,45.43861,0.0\n-71.86647,45.43857,0.0\n-71.86649,45.43852,0.0\n-71.8665,45.43848,0.0\n-71.86653,45.43844,0.0\n-71.86656,45.4384,0.0\n-71.8666,45.43836,0.0\n-71.86665,45.43832,0.0\n-71.8667,45.43828,0.0\n-71.86675,45.43825,0.0\n-71.86681,45.43822,0.0\n-71.86688,45.43819,0.0\n-71.86695,45.43817,0.0\n-71.86701,45.43814,0.0\n-71.86709,45.43812,0.0\n-71.86716,45.4381,0.0\n-71.86726,45.43808,0.0\n-71.86746,45.43803,0.0\n-71.86774,45.43799,0.0\n-71.8681,45.43793,0.0\n-71.86866,45.43785,0.0\n-71.86869,45.43784,0.0\n-71.86872,45.43783,0.0\n-71.86896,45.43776,0.0\n-71.87114,45.43751,0.0\n-71.87433,45.43713,0.0\n-71.87587,45.43696,0.0\n-71.87862,45.43664,0.0\n-71.87931,45.43657,0.0\n-71.87984,45.43652,0.0\n-71.8801,45.4365,0.0\n-71.88035,45.43648,0.0\n-71.88065,45.43646,0.0\n-71.88089,45.43645,0.0\n-71.88114,45.43644,0.0\n-71.88137,45.43644,0.0\n-71.88159,45.43644,0.0\n-71.88179,45.43644,0.0\n-71.88217,45.43644,0.0\n-71.88239,45.43645,0.0\n-71.88263,45.43646,0.0\n-71.88288,45.43647,0.0\n-71.88311,45.43649,0.0\n-71.88331,45.43651,0.0\n-71.88355,45.43653,0.0\n-71.88378,45.43655,0.0\n-71.88413,45.43659,0.0\n-71.88435,45.43662,0.0\n-71.88454,45.43664,0.0\n-71.88481,45.43668,0.0\n-71.88501,45.43671,0.0\n-71.88521,45.43674,0.0\n-71.88549,45.43679,0.0\n-71.8857,45.43683,0.0\n-71.8859,45.43687,0.0\n-71.88609,45.43691,0.0\n-71.8863,45.43695,0.0\n-71.88647,45.43699,0.0\n-71.88669,45.43704,0.0\n-71.88697,45.43711,0.0\n-71.8874,45.43723,0.0\n-71.88784,45.43735,0.0\n-71.88797,45.43738,0.0\n-71.88829,45.43749,0.0\n-71.88861,45.4376,0.0\n-71.88899,45.43773,0.0\n-71.8892,45.43781,0.0\n-71.89,45.43812,0.0\n-71.89051,45.43831,0.0\n-71.89091,45.43847,0.0\n-71.89123,45.43859,0.0\n-71.89195,45.43887,0.0\n-71.89253,45.43909,0.0\n-71.89297,45.43927,0.0\n-71.89325,45.43938,0.0\n-71.89365,45.43954,0.0\n-71.89406,45.43971,0.0\n-71.89437,45.43983,0.0\n-71.89465,45.43994,0.0\n-71.89527,45.44019,0.0\n-71.89713,45.44091,0.0\n-71.89901,45.44163,0.0\n-71.8994,45.44178,0.0\n-71.8998,45.44193,0.0\n-71.90116,45.44245,0.0\n-71.90298,45.44316,0.0\n-71.9037,45.44344,0.0\n-71.90431,45.44368,0.0\n-71.90493,45.4439,0.0\n-71.90545,45.44405,0.0\n-71.9059,45.44416,0.0\n-71.90645,45.44429,0.0\n-71.90675,45.44435,0.0\n-71.90702,45.4444,0.0\n-71.90734,45.44445,0.0\n-71.9078,45.44453,0.0\n-71.90837,45.4446,0.0\n-71.90895,45.44465,0.0\n-71.90929,45.44467,0.0\n-71.90965,45.44469,0.0\n-71.90997,45.4447,0.0\n-71.91034,45.4447,0.0\n-71.91079,45.44469,0.0\n-71.9112,45.44466,0.0\n-71.91147,45.44464,0.0\n-71.91173,45.44461,0.0\n-71.91198,45.44459,0.0\n-71.91233,45.44454,0.0\n-71.91288,45.44447,0.0\n-71.91306,45.44444,0.0\n-71.91329,45.4444,0.0\n-71.91366,45.44433,0.0\n-71.91434,45.4442,0.0\n-71.91567,45.44393,0.0\n-71.91701,45.44368,0.0\n-71.9184,45.44341,0.0\n-71.91922,45.44325,0.0\n-71.92061,45.44298,0.0\n-71.92101,45.44289,0.0\n-71.92166,45.44276,0.0\n-71.92222,45.44265,0.0\n-71.92278,45.44254,0.0\n-71.92424,45.44225,0.0\n-71.9271,45.4417,0.0\n-71.92933,45.44127,0.0\n-71.93022,45.44109,0.0\n-71.93278,45.44059,0.0\n-71.9333,45.44049,0.0\n-71.93419,45.44032,0.0\n-71.93519,45.44013,0.0\n-71.93628,45.43991,0.0\n-71.93717,45.43972,0.0\n-71.9383,45.43949,0.0\n-71.93962,45.43921,0.0\n-71.94086,45.43897,0.0\n-71.94217,45.43872,0.0\n-71.94273,45.43862,0.0\n-71.94307,45.43856,0.0\n-71.94329,45.43852,0.0\n-71.9436,45.43848,0.0\n-71.94383,45.43845,0.0\n-71.94408,45.43842,0.0\n-71.94454,45.43838,0.0\n-71.94522,45.43833,0.0\n-71.94562,45.43832,0.0\n-71.94602,45.43831,0.0\n-71.94632,45.4383,0.0\n-71.94671,45.43831,0.0\n-71.94741,45.43833,0.0\n-71.94792,45.43837,0.0\n-71.94843,45.43842,0.0\n-71.94889,45.43847,0.0\n-71.94926,45.43852,0.0\n-71.94988,45.43862,0.0\n-71.95023,45.43869,0.0\n-71.95045,45.43873,0.0\n-71.95121,45.43887,0.0\n-71.95289,45.4392,0.0\n-71.95408,45.43942,0.0\n-71.95424,45.43946,0.0\n-71.95536,45.43968,0.0\n-71.9559,45.43979,0.0\n-71.95643,45.43987,0.0\n-71.95684,45.43993,0.0\n-71.95719,45.43996,0.0\n-71.95756,45.43999,0.0\n-71.95804,45.44,0.0\n-71.95847,45.44,0.0\n-71.95885,45.43999,0.0\n-71.95916,45.43998,0.0\n-71.95948,45.43996,0.0\n-71.95973,45.43994,0.0\n-71.95992,45.43992,0.0\n-71.96008,45.43989,0.0\n-71.96024,45.43985,0.0\n-71.96037,45.43981,0.0\n-71.96047,45.43977,0.0\n-71.96059,45.43972,0.0\n-71.96071,45.43968,0.0\n-71.96083,45.43961,0.0\n-71.96094,45.43951,0.0\n-71.96105,45.4394,0.0\n-71.96114,45.43928,0.0\n-71.96121,45.43913,0.0\n-71.96125,45.43899,0.0\n-71.96126,45.43887,0.0\n-71.96126,45.43873,0.0\n-71.96122,45.43856,0.0\n-71.96116,45.43842,0.0\n-71.96108,45.43829,0.0\n-71.96101,45.4382,0.0\n-71.96078,45.43795,0.0\n-71.9606,45.43771,0.0\n-71.96045,45.43753,0.0\n-71.96023,45.43723,0.0\n-71.96013,45.43707,0.0\n-71.96007,45.4369,0.0\n-71.96002,45.43671,0.0\n-71.96002,45.43651,0.0\n-71.96004,45.43631,0.0\n-71.96009,45.43614,0.0\n-71.96014,45.43602,0.0\n-71.96019,45.43591,0.0\n-71.96034,45.43564,0.0\n-71.96053,45.43533,0.0\n-71.96073,45.43503,0.0\n-71.9608,45.43492,0.0\n-71.96083,45.43485,0.0\n-71.96085,45.43474,0.0\n-71.96176,45.43351,0.0\n-71.96194,45.43327,0.0\n-71.96256,45.43243,0.0\n-71.96331,45.43142,0.0\n-71.96363,45.431,0.0\n-71.96426,45.43014,0.0\n-71.96437,45.43008,0.0\n-71.96444,45.43003,0.0\n-71.9646,45.42983,0.0\n-71.96492,45.42945,0.0\n-71.96523,45.42911,0.0\n-71.96548,45.42885,0.0\n-71.96563,45.42872,0.0\n-71.96575,45.42862,0.0\n-71.96598,45.42847,0.0\n-71.96613,45.4284,0.0\n-71.96625,45.42834,0.0\n-71.96635,45.4283,0.0\n-71.96646,45.42828,0.0\n-71.9666,45.42825,0.0\n-71.96675,45.42823,0.0\n-71.96684,45.42823,0.0\n-71.96689,45.42823,0.0\n-71.96703,45.42824,0.0\n-71.96714,45.42826,0.0\n-71.96724,45.42828,0.0\n-71.96734,45.42831,0.0\n-71.96759,45.42841,0.0\n-71.96762,45.42842,0.0\n-71.96784,45.4285,0.0\n-71.96826,45.42868,0.0\n-71.9686,45.42881,0.0\n-71.9687,45.42869,0.0\n-71.96921,45.42809,0.0\n-71.96996,45.42723,0.0\n-71.96964,45.42714,0.0\n-71.96948,45.42709,0.0\n-71.96915,45.42698,0.0\n-71.96884,45.42687,0.0\n-71.96768,45.42638,0.0\n-71.9672,45.42618,0.0\n-71.96691,45.42606,0.0\n-71.96682,45.42602,0.0\n-71.96676,45.426,0.0\n-71.96665,45.42596,0.0\n-71.96659,45.42593,0.0\n-71.96629,45.42581,0.0\n-71.96539,45.42543,0.0\n-71.96495,45.42523,0.0\n-71.9645,45.42507,0.0\n-71.96407,45.42494,0.0\n-71.96358,45.42481,0.0\n-71.96319,45.42473,0.0\n-71.96333,45.42442,0.0\n-71.96345,45.42413,0.0\n-71.96351,45.42393,0.0\n-71.9636,45.42379,0.0\n-71.96368,45.42367,0.0\n-71.96379,45.42356,0.0\n-71.9642,45.42316,0.0\n-71.96374,45.42292,0.0\n-71.96342,45.42274,0.0\n-71.96433,45.42191,0.0\n-71.96371,45.42158,0.0\n-71.96347,45.42145,0.0`(string)
        - (Bus Path)
            - id: 3
            - title: `Centre-ville / Quartier Ascot`
            - interval: 30 (number, required)
            - additionnal_string: `Retour seulement`
            - start_time: `23:00` (string)
            - thumbnail_url: `http://felixlapal.me/okto/centro.PNG`
            - csv: `-71.96411,45.42098,0.0\n-71.96339,45.4206,0.0\n-71.96317,45.42081,0.0\n-71.96298,45.42099,0.0\n-71.96284,45.42111,0.0\n-71.96283,45.42112,0.0\n-71.96371,45.42158,0.0\n-71.96433,45.421910000000004,0.0\n-71.96342,45.42274,0.0\n-71.96374,45.42292,0.0\n-71.9642,45.42316,0.0\n-71.96379,45.42356,0.0\n-71.96368,45.42367,0.0\n-71.9636,45.42379,0.0\n-71.96351,45.42393,0.0\n-71.96336,45.42411,0.0\n-71.9632,45.42439,0.0\n-71.96309,45.42461,0.0\n-71.96304,45.42469,0.0\n-71.96297,45.42481000000001,0.0\n-71.96267,45.42541,0.0\n-71.96263,45.4255,0.0\n-71.96241,45.42592,0.0\n-71.96235,45.42602,0.0\n-71.96248,45.42605,0.0\n-71.96372,45.42657,0.0\n-71.9642,45.42677,0.0\n-71.96464,45.42696,0.0\n-71.96475,45.42703,0.0\n-71.96481,45.42707,0.0\n-71.96489,45.42713,0.0\n-71.96497,45.42721,0.0\n-71.96501,45.42727,0.0\n-71.96505,45.42732,0.0\n-71.9651,45.42741,0.0\n-71.96514,45.4275,0.0\n-71.96516,45.42759,0.0\n-71.96517,45.42768,0.0\n-71.96517,45.42775,0.0\n-71.96515,45.42785,0.0\n-71.96512,45.42794,0.0\n-71.96505,45.42808,0.0\n-71.96498,45.42823,0.0\n-71.96479,45.42858,0.0\n-71.96466,45.42876,0.0\n-71.96458,45.42888,0.0\n-71.96454,45.42895,0.0\n-71.96452,45.42908,0.0\n-71.96289,45.43128,0.0\n-71.9623,45.43207,0.0\n-71.96174,45.43282,0.0\n-71.96102,45.43379,0.0\n-71.96027,45.4348,0.0\n-71.95984,45.43538000000001,0.0\n-71.95935,45.43603000000001,0.0\n-71.95891,45.43663,0.0\n-71.95867,45.43696,0.0\n-71.9586,45.43699,0.0\n-71.95856,45.43701,0.0\n-71.9585,45.43705,0.0\n-71.95841,45.43714,0.0\n-71.95807,45.43753,0.0\n-71.95777,45.43784,0.0\n-71.95752,45.43805,0.0\n-71.95734,45.43818,0.0\n-71.95715,45.4383,0.0\n-71.95687,45.43845,0.0\n-71.95663,45.43856,0.0\n-71.95637,45.43865,0.0\n-71.95609,45.43874,0.0\n-71.95591,45.43879,0.0\n-71.95574,45.43882,0.0\n-71.95542,45.43887,0.0\n-71.95522,45.4389,0.0\n-71.95497,45.43891,0.0\n-71.9547,45.43891,0.0\n-71.9543,45.4389,0.0\n-71.95379,45.43885,0.0\n-71.95294,45.43875,0.0\n-71.95239,45.43865,0.0\n-71.95205,45.4386,0.0\n-71.951,45.43841,0.0\n-71.95049,45.43833,0.0\n-71.95038,45.43831,0.0\n-71.95015,45.4383,0.0\n-71.94968,45.43824000000001,0.0\n-71.94929,45.43818,0.0\n-71.94874,45.43812,0.0\n-71.94842,45.43808,0.0\n-71.94799,45.43804,0.0\n-71.94752,45.438,0.0\n-71.94704,45.43799,0.0\n-71.94659,45.43797,0.0\n-71.94625,45.43797,0.0\n-71.94568,45.43798000000001,0.0\n-71.94523,45.438,0.0\n-71.94488,45.43802,0.0\n-71.94456,45.43804,0.0\n-71.94409,45.43808,0.0\n-71.94378,45.43812,0.0\n-71.94354000000001,45.43814,0.0\n-71.94322,45.43819,0.0\n-71.94299,45.43822,0.0\n-71.94253,45.4383,0.0\n-71.942,45.4384,0.0\n-71.94103000000001,45.438590000000005,0.0\n-71.9397,45.43885,0.0\n-71.93812,45.43917,0.0\n-71.93716,45.439370000000004,0.0\n-71.93602,45.43961,0.0\n-71.93474,45.43986,0.0\n-71.93395,45.44001,0.0\n-71.93314,45.44017,0.0\n-71.9327,45.44026,0.0\n-71.92994,45.4408,0.0\n-71.9293,45.44093,0.0\n-71.92801,45.44118,0.0\n-71.92608,45.44155,0.0\n-71.92393,45.44196,0.0\n-71.92298,45.44214000000001,0.0\n-71.92106,45.442530000000005,0.0\n-71.92042,45.44266,0.0\n-71.91941,45.44286,0.0\n-71.91926,45.44284,0.0\n-71.91915,45.44285,0.0\n-71.91899,45.44286,0.0\n-71.9187,45.4429,0.0\n-71.91828,45.44293,0.0\n-71.91798000000001,45.44294,0.0\n-71.9177,45.44295,0.0\n-71.91744,45.44293,0.0\n-71.91724,45.4429,0.0\n-71.91705,45.44286,0.0\n-71.91688,45.44282,0.0\n-71.91678,45.44278,0.0\n-71.91666,45.44272,0.0\n-71.91652,45.44264,0.0\n-71.91643,45.44255,0.0\n-71.91636,45.44243,0.0\n-71.91632,45.44233,0.0\n-71.91631,45.44225,0.0\n-71.91632,45.44218,0.0\n-71.91634,45.44211,0.0\n-71.91636,45.44206,0.0\n-71.91641,45.44198,0.0\n-71.91646,45.44191,0.0\n-71.91667,45.44166,0.0\n-71.91682,45.44147,0.0\n-71.91741,45.44076,0.0\n-71.91748,45.440670000000004,0.0\n-71.91735,45.44062,0.0\n-71.91656,45.4403,0.0\n-71.91606,45.4401,0.0\n-71.9157,45.44001,0.0\n-71.91277,45.4388,0.0\n-71.91177,45.43827,0.0\n-71.91095,45.43769,0.0\n-71.91058,45.43734,0.0\n-71.90989,45.4365,0.0\n-71.90971,45.43622,0.0\n-71.90949,45.43573,0.0\n-71.90934,45.43538000000001,0.0\n-71.90842,45.4326,0.0\n-71.90757,45.43,0.0\n-71.90701,45.42832000000001,0.0\n-71.9059,45.42502,0.0\n-71.90565,45.42428,0.0\n-71.90543,45.42372,0.0\n-71.90536,45.42356,0.0\n-71.9053,45.42344,0.0\n-71.90519,45.42324,0.0\n-71.90503,45.42293,0.0\n-71.90477,45.42251,0.0\n-71.90427,45.42177,0.0\n-71.90411,45.42153,0.0\n-71.90407,45.42147,0.0\n-71.90401,45.42135,0.0\n-71.90385000000002,45.42108,0.0\n-71.90375,45.42087,0.0\n-71.90365,45.42063,0.0\n-71.90353,45.42031,0.0\n-71.90342,45.41999,0.0\n-71.9032,45.41925,0.0\n-71.90299,45.41852,0.0\n-71.90288,45.41812,0.0\n-71.90282,45.41791,0.0\n-71.90274,45.41769,0.0\n-71.90267,45.41749,0.0\n-71.9026,45.41731,0.0\n-71.90251,45.41709,0.0\n-71.90203,45.41619000000001,0.0\n-71.90133,45.41496,0.0\n-71.90128,45.41488,0.0\n-71.90079,45.41401,0.0\n-71.90066,45.41377,0.0\n-71.90045,45.41346000000001,0.0\n-71.90024,45.41315,0.0\n-71.90008,45.412940000000006,0.0\n-71.89994,45.41276,0.0\n-71.89981,45.41262,0.0\n-71.89966,45.41247,0.0\n-71.8995,45.41232,0.0\n-71.89929,45.41216000000001,0.0\n-71.89906,45.412,0.0\n-71.89885,45.41188,0.0\n-71.89863,45.41177,0.0\n-71.89843,45.41168,0.0\n-71.89821,45.4116,0.0\n-71.89801,45.41153,0.0\n-71.89775,45.41145,0.0\n-71.89743,45.41138000000001,0.0\n-71.89718000000002,45.41133,0.0\n-71.89697,45.4113,0.0\n-71.89669,45.41125,0.0\n-71.89546,45.41119,0.0\n-71.89454,45.41103,0.0\n-71.8936,45.41067,0.0\n-71.89281,45.41023,0.0\n-71.89215,45.40964,0.0\n-71.89173,45.40916,0.0\n-71.8916,45.40901,0.0\n-71.89141,45.4088,0.0\n-71.89121,45.40868,0.0\n-71.89099,45.40853,0.0\n-71.89051,45.40827,0.0\n-71.89002,45.40796,0.0\n-71.88963,45.40767,0.0\n-71.8893,45.40742,0.0\n-71.88909,45.40723,0.0\n-71.88863,45.40674,0.0\n-71.88854,45.40661,0.0\n-71.88843000000001,45.40646,0.0\n-71.88833,45.40632,0.0\n-71.88802,45.40574,0.0\n-71.88749,45.40457,0.0\n-71.88744,45.40451,0.0\n-71.88741,45.404450000000004,0.0\n-71.88724,45.40424,0.0\n-71.8871,45.4041,0.0\n-71.88695,45.40396,0.0\n-71.88684,45.40386,0.0\n-71.88676,45.40379,0.0\n-71.88665,45.40371,0.0\n-71.88646,45.40356,0.0\n-71.88627,45.40341,0.0\n-71.88644,45.40332000000001,0.0\n-71.88686,45.40311,0.0\n-71.88688,45.4031,0.0\n-71.887,45.40304,0.0\n-71.88713,45.40297,0.0\n-71.88739,45.40283,0.0\n-71.88749,45.40281,0.0\n-71.88758,45.40278,0.0\n-71.88791,45.40262,0.0\n-71.88839,45.40238,0.0\n-71.88847,45.40234,0.0\n-71.88842,45.402240000000006,0.0\n-71.88836,45.40213,0.0\n-71.88832,45.40206,0.0\n-71.88828,45.40198,0.0\n-71.88826,45.4019,0.0\n-71.88824,45.40182,0.0\n-71.8882,45.401590000000006,0.0\n-71.88819,45.40149,0.0\n-71.88818,45.40142,0.0\n-71.88816,45.40132,0.0\n-71.88814,45.40123,0.0\n-71.8881,45.40112,0.0\n-71.88805,45.401,0.0\n-71.88799,45.40088,0.0\n-71.88795,45.4008,0.0\n-71.88774,45.40041,0.0\n-71.88748000000001,45.39989,0.0\n-71.88719,45.39935,0.0\n-71.88699,45.39897,0.0\n-71.88694,45.39888,0.0\n-71.88671,45.39842,0.0\n-71.88632,45.39772,0.0\n-71.88671,45.3976,0.0\n-71.88721,45.39747,0.0\n-71.88789,45.39728,0.0\n-71.88795,45.39727,0.0\n-71.888,45.39722,0.0\n-71.88882,45.39698,0.0\n-71.88933,45.39683,0.0\n-71.88977,45.39669,0.0\n-71.89085,45.39639,0.0\n-71.89162,45.39623,0.0\n-71.89157,45.39614,0.0\n-71.89147,45.39600000000001,0.0\n-71.89146,45.39599,0.0\n-71.89121,45.39563,0.0\n-71.891,45.39536,0.0\n-71.89077000000002,45.39503,0.0\n-71.89058,45.39470000000001,0.0\n-71.89053,45.39459,0.0\n-71.8906,45.39426,0.0\n-71.89102,45.3943,0.0\n-71.89115,45.39431,0.0\n-71.89132,45.39431,0.0\n-71.89143,45.39431,0.0\n-71.89175,45.39434,0.0\n-71.89189,45.39434,0.0\n-71.89201,45.39434,0.0\n-71.89255,45.39439,0.0\n-71.89299,45.39443,0.0\n-71.89352,45.39448,0.0\n-71.89554000000001,45.39467,0.0\n-71.89571,45.39466,0.0\n-71.89585,45.39465,0.0\n-71.89598,45.39461,0.0\n-71.89608,45.39458,0.0\n-71.89617,45.39455,0.0\n-71.89627,45.3945,0.0\n-71.89622,45.39436,0.0\n-71.89621,45.39397,0.0\n-71.8962,45.39367,0.0\n-71.89617,45.39298,0.0\n-71.89617,45.3929,0.0\n-71.89612,45.39248,0.0\n-71.8961,45.39205,0.0\n-71.89604,45.39079,0.0\n-71.89603,45.39039,0.0\n-71.89601,45.389720000000004,0.0\n-71.89596,45.38899,0.0\n-71.89599,45.38841,0.0\n-71.89601,45.38835,0.0\n-71.89603,45.3883,0.0\n-71.89605,45.38824,0.0\n-71.89623,45.38781000000001,0.0\n-71.89625,45.38773,0.0\n-71.89628,45.387640000000005,0.0\n-71.8963,45.38752,0.0\n-71.89621,45.38662,0.0\n-71.89625,45.38656,0.0\n-71.89627,45.38651000000001,0.0\n-71.89631,45.38642,0.0\n-71.89636,45.386340000000004,0.0\n-71.89639,45.38627,0.0\n-71.8964,45.3862,0.0\n-71.89712,45.38562,0.0\n-71.89724,45.3855,0.0\n-71.89734,45.38539,0.0\n-71.89743,45.38528,0.0\n-71.8975,45.38518,0.0\n-71.89759,45.38503,0.0\n-71.89766,45.38488,0.0\n-71.89772,45.3847,0.0\n-71.89777,45.38453,0.0\n-71.89784,45.384260000000005,0.0\n-71.89789,45.3841,0.0\n-71.89792,45.38401,0.0\n-71.89796,45.38392,0.0\n-71.89805000000001,45.3838,0.0\n-71.89813,45.38371,0.0\n-71.89823,45.38363,0.0\n-71.89826,45.38359,0.0\n-71.89831,45.38356,0.0\n-71.89837,45.38353,0.0\n-71.89843,45.3835,0.0\n-71.89855,45.38345,0.0\n-71.89867,45.38341,0.0\n-71.89952,45.38313000000001,0.0\n-71.89975,45.38306,0.0\n-71.89998,45.38299,0.0\n-71.90018,45.38292,0.0\n-71.90038,45.38284,0.0\n-71.90059,45.38272,0.0\n-71.90085,45.38256,0.0\n-71.90101,45.38244,0.0\n-71.90116,45.38232,0.0\n-71.90143,45.38209,0.0\n-71.90171,45.38183,0.0\n-71.90184,45.38171,0.0\n-71.90197,45.38158,0.0\n-71.90203,45.38151,0.0\n-71.90208,45.38144,0.0\n-71.90213,45.38138,0.0\n-71.90218,45.38131,0.0\n-71.90222,45.38124,0.0\n-71.90226,45.38117,0.0\n-71.90234,45.38101,0.0\n-71.90241,45.38085,0.0\n-71.90253,45.38055,0.0\n-71.90267,45.38025,0.0\n-71.90273,45.38014,0.0\n-71.9028,45.38002,0.0\n-71.90289,45.3799,0.0\n-71.90298,45.37978,0.0\n-71.90311,45.37964,0.0\n-71.90323,45.37952,0.0\n-71.90337,45.37941,0.0\n-71.90351000000001,45.3793,0.0\n-71.90363,45.37922,0.0\n-71.90375,45.37914,0.0\n-71.90395,45.37903,0.0\n-71.90416,45.37892,0.0\n-71.90434,45.37885,0.0\n-71.90451,45.37879,0.0\n-71.90477,45.37871,0.0\n-71.90517,45.37863,0.0\n-71.90550000000002,45.37858,0.0\n-71.90584,45.37853,0.0\n-71.90618,45.37848,0.0\n-71.90644,45.37843,0.0\n-71.90658,45.3784,0.0\n-71.90665,45.37838,0.0\n-71.90671000000002,45.37836,0.0\n-71.90681,45.37833,0.0\n-71.90691,45.3783,0.0\n-71.907,45.37827,0.0\n-71.90709,45.37824,0.0\n-71.90723,45.37818,0.0\n-71.90735,45.37814,0.0\n-71.90748,45.37807,0.0\n-71.90763,45.378,0.0\n-71.90773,45.37794,0.0\n-71.90786,45.37786,0.0\n-71.90798,45.37778,0.0\n-71.90813,45.37767,0.0\n-71.90822,45.37759,0.0\n-71.90831,45.37751,0.0\n-71.9084,45.37742,0.0\n-71.9085,45.37731,0.0\n-71.90856,45.37724000000001,0.0\n-71.90866,45.37711000000001,0.0\n-71.90874,45.37699,0.0\n-71.90881,45.37688,0.0\n-71.90884,45.37681,0.0\n-71.90887,45.37675,0.0\n-71.90889,45.37669,0.0\n-71.90895,45.37655,0.0\n-71.909,45.37639,0.0\n-71.90912,45.37591,0.0\n-71.90924,45.37542,0.0\n-71.9093,45.3752,0.0\n-71.90936,45.37498,0.0\n-71.90951,45.37463,0.0\n-71.90956,45.37454,0.0\n-71.90961,45.37444,0.0\n-71.90967,45.37436,0.0\n-71.90972,45.37427,0.0\n-71.90986,45.3741,0.0\n-71.91008,45.37385,0.0\n-71.91021,45.37373000000001,0.0\n-71.91035,45.37361,0.0\n-71.91072,45.37332,0.0\n-71.9113,45.37292,0.0\n-71.9119,45.37251,0.0\n-71.91281,45.37189,0.0\n-71.9137,45.37126,0.0\n-71.91449,45.37082,0.0\n-71.91488,45.37065,0.0\n-71.91529,45.37048000000001,0.0\n-71.91677,45.36992,0.0\n-71.91836,45.36932,0.0\n-71.91867,45.3692,0.0\n-71.9192,45.36899,0.0\n-71.91972,45.36877,0.0\n-71.91988000000002,45.36893,0.0\n-71.91993,45.36898,0.0\n-71.92002,45.36904,0.0\n-71.92011,45.36909,0.0\n-71.92019,45.36912,0.0\n-71.92027,45.36914,0.0\n-71.92037,45.36915,0.0\n-71.92055,45.36916,0.0\n-71.92085,45.36915,0.0\n-71.92124,45.36911,0.0\n-71.92235,45.36902,0.0\n-71.92393,45.36889,0.0\n-71.92476,45.3688,0.0\n-71.92506,45.36877,0.0\n-71.92541,45.36874,0.0\n-71.92591,45.36871,0.0\n-71.92632,45.36869,0.0\n-71.92649,45.36868,0.0\n-71.92753,45.36865,0.0\n-71.92873,45.36862000000001,0.0\n-71.92908,45.36861,0.0\n-71.92973,45.36861,0.0\n-71.93024,45.36862000000001,0.0\n-71.9306,45.36863,0.0\n-71.93129,45.36866,0.0\n-71.93206,45.36871,0.0\n-71.93299,45.36879,0.0\n-71.93398,45.3689,0.0\n-71.93421,45.36893,0.0\n-71.93436,45.36894,0.0\n-71.93463,45.36896,0.0\n-71.93503,45.36899,0.0\n-71.93539,45.36901,0.0\n-71.93596,45.36904,0.0\n-71.93616,45.36905000000001,0.0\n-71.93699,45.36909,0.0\n-71.93762,45.36913,0.0\n-71.9378,45.36914,0.0\n-71.93798,45.36916,0.0\n-71.93812,45.36917,0.0\n-71.93825,45.36918,0.0\n-71.93843000000001,45.36921,0.0\n-71.93862,45.36924,0.0\n-71.93885,45.36929,0.0\n-71.93925,45.36938,0.0\n-71.93959,45.36948,0.0\n-71.93975,45.36952,0.0\n-71.94015,45.3696,0.0\n-71.94102,45.36997,0.0\n-71.94164,45.37025,0.0\n-71.94193,45.37038,0.0\n-71.9424,45.37062,0.0\n-71.94299,45.37093,0.0\n-71.94397,45.37147,0.0\n-71.94469,45.37187,0.0\n-71.94502,45.37205,0.0\n-71.9454,45.372260000000004,0.0\n-71.94625,45.37274,0.0\n-71.94663,45.37299,0.0\n-71.94735,45.37348,0.0\n-71.9479,45.37386000000001,0.0\n-71.94827,45.37413,0.0\n-71.94865000000001,45.37443,0.0\n-71.94903,45.37473,0.0\n-71.94936,45.37502,0.0\n-71.94955,45.3752,0.0\n-71.94973,45.37539,0.0\n-71.94986,45.37553,0.0\n-71.95039,45.37607,0.0\n-71.95049,45.3762,0.0\n-71.95054,45.37626,0.0\n-71.95062,45.37634,0.0\n-71.95062,45.37635,0.0\n-71.95072,45.37645,0.0\n-71.95101,45.37679,0.0\n-71.95127,45.37715,0.0\n-71.95163,45.37764,0.0\n-71.95169,45.37773,0.0\n-71.95176,45.37782,0.0\n-71.95201,45.37818,0.0\n-71.95224,45.37859,0.0\n-71.9524,45.37891,0.0\n-71.95256,45.37924,0.0\n-71.95283,45.37978,0.0\n-71.95294,45.38005,0.0\n-71.95309,45.38041,0.0\n-71.9532,45.38068,0.0\n-71.95334,45.381,0.0\n-71.95345,45.38129,0.0\n-71.95363,45.38174,0.0\n-71.95461,45.38417,0.0\n-71.95546,45.38625,0.0\n-71.9558,45.38707,0.0\n-71.95606,45.3877,0.0\n-71.95619,45.38803,0.0\n-71.95626,45.38822,0.0\n-71.95643,45.38862,0.0\n-71.95659,45.38903,0.0\n-71.95668,45.38929,0.0\n-71.95684,45.38965,0.0\n-71.95735,45.39095,0.0\n-71.95781,45.39207,0.0\n-71.95866,45.39417,0.0\n-71.95908,45.39522,0.0\n-71.95942,45.39606,0.0\n-71.95968,45.39672,0.0\n-71.9598,45.39702,0.0\n-71.95984,45.39718,0.0\n-71.95988,45.39729,0.0\n-71.9599,45.39738,0.0\n-71.95993,45.39749,0.0\n-71.95995,45.39761,0.0\n-71.95997,45.39772,0.0\n-71.96002,45.39809,0.0\n-71.96005,45.39831,0.0\n-71.96009,45.39861,0.0\n-71.96022,45.3997,0.0\n-71.96034,45.40066,0.0\n-71.96074,45.40416,0.0\n-71.96108,45.40695,0.0\n-71.9612,45.40793,0.0\n-71.96127,45.40863,0.0\n-71.96132,45.40895,0.0\n-71.96139,45.40958,0.0\n-71.96154,45.41081,0.0\n-71.96161,45.4114,0.0\n-71.96165,45.41174,0.0\n-71.96168,45.41197,0.0\n-71.96172,45.41224,0.0\n-71.96176,45.41244,0.0\n-71.9618,45.41259,0.0\n-71.96186,45.41281000000001,0.0\n-71.9619,45.41295,0.0\n-71.96201,45.41324000000001,0.0\n-71.96213,45.4135,0.0\n-71.96222,45.41368,0.0\n-71.9623,45.41385,0.0\n-71.96239,45.414,0.0\n-71.96249,45.41415,0.0\n-71.9626,45.41431,0.0\n-71.9627,45.41444,0.0\n-71.96281,45.41458,0.0\n-71.96283,45.41462,0.0\n-71.96297,45.41478,0.0\n-71.96312000000002,45.41496,0.0\n-71.96316,45.41505,0.0\n-71.96317,45.41508,0.0\n-71.9632,45.41513,0.0\n-71.96324,45.41517,0.0\n-71.96349,45.41545,0.0\n-71.96367,45.41561,0.0\n-71.96387,45.41581,0.0\n-71.96401,45.41593,0.0\n-71.96413,45.41604,0.0\n-71.96435,45.41621,0.0\n-71.96452,45.41634,0.0\n-71.96509,45.41674,0.0\n-71.96528,45.41686,0.0\n-71.96544,45.416970000000006,0.0\n-71.96563000000002,45.41709,0.0\n-71.96613,45.41738,0.0\n-71.96652,45.41761,0.0\n-71.9671,45.41794,0.0\n-71.96745,45.41813,0.0\n-71.96808,45.41847,0.0\n-71.96817,45.41852,0.0\n-71.96827,45.41859,0.0\n-71.96833,45.41865,0.0\n-71.96836,45.41869,0.0\n-71.96839,45.41872,0.0\n-71.96841,45.41876,0.0\n-71.96842,45.41878,0.0\n-71.96843,45.4188,0.0\n-71.96843,45.41883,0.0\n-71.96844,45.41885,0.0\n-71.96844,45.41889,0.0\n-71.96844,45.41894,0.0\n-71.96844,45.41899,0.0\n-71.96843,45.41903,0.0\n-71.96842,45.41906,0.0\n-71.9684,45.4191,0.0\n-71.96838,45.41913,0.0\n-71.96829,45.41923,0.0\n-71.96826,45.41926,0.0\n-71.96804,45.41949,0.0\n-71.96782,45.41973,0.0\n-71.96776,45.41979,0.0\n-71.96747,45.42005,0.0\n-71.96677,45.42075,0.0\n-71.96674,45.42079,0.0\n-71.9667,45.42082,0.0\n-71.96617,45.42131,0.0\n-71.9656,45.42184,0.0\n-71.96484,45.42143000000001,0.0\n-71.9648,45.42139,0.0\n-71.96475,45.42132,0.0\n-71.96472,45.42130000000001,0.0\n-71.96419,45.42102,0.0`(string)
       
## Coordonnées [/contact]

### Get coordonnées [GET]

+ Response 200 (application/json)

        {
            "phone": "18195693776",
            "snapchat": "oktosherby",
            "twitter": "Okto_sherbrooke",
            "facebook": "Oktoberfest Sherbrooke",
            "facebook_user": "147013865382109",
            "website_url": "http://oktoberfest.ageg.ca/",
            "email": "felix@lapal.me",
            "physical_address": "2500, boulevard de l'Université\nLocal C1-2045\nSherbrooke, QC\nJ1K 1C5",
        }
        
## Bières [/bieres]

### Liste des bières [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (BeerCategory)
            - id: 1
            - name: Stout Porter
            - beers (array)
                - (Beer)
                    - id: 17
                    - name: Cobblestone
                    - alcohol: 4.2
                    - description: Cette bière à l'azote s'inspire des traditionnelles stout de style Irlandaises. Mill Street utilise un mélange unique de blé et d'orge torréfié et émietté afin de créer une bière classique et crémeuse d'apparence foncée.
                    - image_url: http://felixlapal.me/okto/fefewfwe/cobblestone.jpeg
                    - location: `Toronto, ON`
        - (BeerCategory)
            - id: 2
            - name: Rousse
            - beers (array)
                - (Beer)
                    - id: 16
                    - name: Keith's Red
                    - alcohol: 5
                    - description: `Conçue à partir de trois variétés d’orge et des plus fines fleurs de houblon, cette ale ambrée corsée présente un parfait équilibre entre les saveurs de caramel et d’épices.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/red.jpeg
                    - location: `Halifax, NS`
        - (BeerCategory)
            - id: 3
            - name: Pale Ale Rousse
            - beers (array)
                - (Beer)
                    - id: 15
                    - name: Archibald: Chippie
                    - alcohol: 5
                    - description: `Bière rousse bien maltée avec du corps et la présence d’amertume. Bel équilibre entre le malt et le houblon. De couleur cuivrée, elle est « Pale » (comparée aux types ancestraux anglais). Elle se marie bien avec les plats plus relevés et les fromages fermes et corsés.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/chipie.jpeg
                    - location: `Lac-Beauport, Québec`
        - (BeerCategory)
            - id: 4
            - name: Blanche
            - beers (array)
                - (Beer)
                    - id: 3
                    - name: Shock Top
                    - alcohol: 5.2
                    - description: `Cette blanche de style belge à la finale rafraîchissante est brassée avec des zestes d’orange, de citron et de lime ainsi qu’une pincée de coriandre. Étant non filtrée, elle est naturellement trouble.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/shocktop.jpeg
                    - location: `Fort Collins, Colorado`
        - (BeerCategory)
            - id: 4
            - name: Blanche
            - beers (array)
                - (Beer)
                    - id: 4
                    - name: Hoegaarden
                    - alcohol: 5
                    - description: `Une bière blanche aigre-douce aromatique avec une touche de coriandre et d’agrumes. Ses origines remontent à 1445, dans le village de Hoegaarden, en Belgique. Cette région est célèbre pour ses abondantes récoltes de blé et d’orge.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/hoegaarden.jpeg
                    - location: `Hoegaarden, Belgique`
        - (BeerCategory)
            - id: 4
            - name: Blanche
            - beers (array)
                - (Beer)
                    - id: 5
                    - name: Archibald: Joufflue
                    - alcohol: 4.2
                    - description: `La Joufflue est servie avec sa levure, ce qui lui donne en partie son apparence opaque et trouble. Au nez, on décèle des agrumes et de la coriandre. En bouche, la rondeur de la céréale crue est balancée par une amertume légère. Bière légère aux allures pleines et rondes, la Joufflue est très rafraîchissante. Idéale avec les crudités, les fromages frais et les entrées fruitées.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/joufflue.jpeg
                    - location: `Halifax, NS`
        - (BeerCategory)
            - id: 4
            - name: Blonde
            - beers (array)
                - (Beer)
                    - id: 6
                    - name: Keith's IPA
                    - alcohol: 5
                    - description: `Veloutée et dorée, cette ale est brassée seulement avec des houblons et de l’orge maltée de première qualité, ce qui lui donne son goût particulièrement savoureux.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/ipa.jpeg
                    - location: `Halifax, NS`
        - (BeerCategory)
            - id: 4
            - name: Blonde
            - beers (array)
                - (Beer)
                    - id: 7
                    - name: Stella Artois
                    - alcohol: 5
                    - description: `Brassée selon les normes belges les plus élevées, cette lager présente un goût rond en bouche, un arôme riche et une finale rafraîchissante tout en douceur.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/red.jpeg
                    - location: `Louvain, Belgique`
        - (BeerCategory)
            - id: 4
            - name: Blonde
            - beers (array)
                - (Beer)
                    - id: 8
                    - name: Archibald : Matante
                    - alcohol: 4.9
                    - description: `Bière légère en bouche avec une mousse onctueuse. Au nez, on sent bien la présence du malt et l’arôme du houblon. En bouche, son amertume légère s’entremêle avec la douceur du malt. Elle se boit seule ou avec tout genre d’entrée et elle accompagne la majorité des fromages doux. Idéale comme bière d’initiation.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/red.jpeg
                    - location: `Lac-Beauport, Québec`
        - (BeerCategory)
            - id: 4
            - name: English Ale
            - beers (array)
                - (Beer)
                    - id: 9
                    - name: Goose Island Honkers Ale
                    - alcohol: 4.3
                    - description: `Inspirée par des visites dans les pubs anglais, cette bière bitter parfaitement équilibrée dévoile un arôme houblonné et fruité au cœur riche et malté.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/honkers.jpeg
                    - location: `Illinois, US`
        - (BeerCategory)
            - id: 4
            - name: IPA
            - beers (array)
                - (Beer)
                    - id: 10
                    - name: Goose Island IPA
                    - alcohol: 5.9
                    - description: `L’irrésistible arôme houblonné, épicé, ainsi que la saveur fruitée de cette IPA de style anglais s’allient parfaitement à son corps malté et sec, qui lui assure une longue finale houblonnée.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/goose.jpeg
                    - location: `Illinois, US`
        - (BeerCategory)
            - id: 4
            - name: Lager
            - beers (array)
                - (Beer)
                    - id: 11
                    - name: Archibald: Valkyrie
                    - alcohol: 7
                    - description: `Lager de style Bavarois, la Valkyrie se démarque avec sa robe cuivrée et ses arômes prononcés de caramel et de houblon épicé. Brassée selon les régulations de l'Ordonnance de pureté allemande «Reinheitsgebot».`
                    - image_url: http://felixlapal.me/okto/fefewfwe/valkyrie.jpeg
                    - location: `Lac-Beauport, Québec`
        - (BeerCategory)
            - id: 4
            - name: Lager Européenne
            - beers (array)
                - (Beer)
                    - id: 12
                    - name: Organic
                    - alcohol: 4.2
                    - description: `La première Lager Ontarienne à être certifiée organique et 100% naturelle est un incontournable. Brassée avec du houblon et du malt d'importation, cette Lager de style Européenne offre un goût léger et rafraîchissant avec une finale en douceur.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/organic.jpeg
                    - location: `Toronto, ON`
        - (BeerCategory)
            - id: 4
            - name: Märzen Lager
            - beers (array)
                - (Beer)
                    - id: 13
                    - name: Oktoberfest
                    - alcohol: 5.5
                    - description: `Brassée pour les grandes occasions, telles que l'Oktoberfest de Munich, cette bière unique aux couleurs cuivrées et à la mousse crémeuse offre un goût délicat et complexe avec ses arômes de malt.`
                    - image_url: http://felixlapal.me/okto/fefewfwe/oktoberfest.jpeg
                    - location: `Toronto, ON`

## FAQ [/faq]

### Get FAQ as markdown [GET]

+ Response 200 (application/json)

        {
          "markdown": "# O\u00F9?\r\n\r\n#### Oktoberfest XVI\r\nCentre de Foires de Sherbrooke\r\n1600, boul. du Plateau-Saint-Joseph\r\nSherbrooke, QC J1L 0C8\r\n\r\n18 ans +\r\n**2 cartes d'identit\u00E9s obligatoires**\r\n\r\n# Avant l'\u00E9v\u00E9nement\r\n\r\n### Comment puis-je procurer un bock?\r\n\r\nLa fa\u00E7on d'obtenir un bock varie selon votre situation. Rends-toi sur la page [Obtenir un bock](https://oktoberfest.ageg.ca/xvi/participer/) du site web et r\u00E9ponds aux questions demand\u00E9es par l'assistant, tu conna\u00EEtras la marche \u00E0 suivre.\r\n\r\n### Si j'ach\u00E8te un bock, qu'est-ce que \u00E7a inclut?\r\n\r\n\u00C7a inclut ton entr\u00E9e \u00E0 l\u2019\u00E9v\u00E8nement, un remplissage de bi\u00E8re et ton r\u00E9cipient pour la soir\u00E9e \u2013 que tu pourras ensuite ajouter \u00E0 ta grande collection de bocks de l'Oktoberfest!\r\n\r\n### Quels sont les prix pour l\u2019admission, la bi\u00E8re et la bouffe?\r\n\r\nToutes les informations concernant les prix sont disponibles sur notre site web sur la page [Combien \u00E7a co\u00FBte?](https://oktoberfest.ageg.ca/xvi/informations/prix/).\r\n\r\n# Pendant l'\u00E9v\u00E9nement\r\n\r\n### \u00C0 quelle heure dois-je arriver?\r\n\r\nLes portes du Centre de Foires de Sherbrooke ouvrent \u00E0 partir de 18h00. Cependant, la file d\u2019attente peut \u00EAtre longue. Si tu veux \u00EAtre le premier \u00E0 l\u2019Oktoberfest, on te conseille d\u2019arriver tr\u00E8s t\u00F4t, surtout si tu n'as pas achet\u00E9 de bock. Et, m\u00EAme si tu as ton bock, tu devras faire la file d\u2019attente avant d\u2019entrer.\r\n\r\n### Comment dois-je m\u2019habiller pour la soir\u00E9e?\r\n\r\nL\u2019\u00E9v\u00E9nement se d\u00E9roule \u00E0 l\u2019int\u00E9rieur, donc dans un environnement ventil\u00E9 et \u00E0 une temp\u00E9rature qui demeure relativement constante au cours de la soir\u00E9e. Une terrasse est aussi accessible, sa temp\u00E9rature \u00E9tant compl\u00E8tement d\u00E9pendante de la temp\u00E9rature ext\u00E9rieure. Au cours de la soir\u00E9e, il arrive r\u00E9guli\u00E8rement que des traditionnels \u00AB chins \u00BB entre les bocks surviennent. Il arrive parfois qu\u2019\u00E0 cette occasion de la bi\u00E8re se d\u00E9place des bocks vers les v\u00EAtements. Ainsi, nous vous conseillons d\u2019\u00E9viter les v\u00EAtements de couleur p\u00E2le qui pourraient se tacher. De plus, le plancher peut devenir glissant en cours de soir\u00E9e. Nous vous conseillons donc, message ici tout particulier pour les filles, d\u2019\u00E9viter les souliers qui ne vous aident pas \u00E0 vous tenir debout, ou \u00E0 vous rattraper suite \u00E0 un glissement. Pour tous, des souliers antid\u00E9rapants sont conseill\u00E9s.\r\n\r\n### Est-ce que je peux sortir du Centre de Foires et revenir sans frais?\r\n\r\nEn d\u00E9but de soir\u00E9e, il vous sera possible de sortir et de revenir sans frais. Selon la capacit\u00E9 de la salle, il pourrait arriver un moment o\u00F9, pour favoriser l\u2019entr\u00E9e de tous, nous devions vous interdire d\u2019acc\u00E9der au site de nouveau. Si c\u2019est le cas, votre bracelet sera coup\u00E9 \u00E0 votre sortie et vous en seriez bien averti pour que vous puissiez faire votre choix en connaissance de cause.\r\n\r\n### Est-ce que je peux venir si je suis mineur?\r\n\r\nMalheureusement, l\u2019Oktoberfest \u00E9tant un \u00E9v\u00E9nement servant de l\u2019alcool et devant la difficult\u00E9 de limiter la vente de bi\u00E8re \u00E0 ceux-ci, nous nous devons de refuser compl\u00E8tement l\u2019acc\u00E8s aux mineurs. Toute personne entrant sur le site devra pr\u00E9senter 2 cartes d\u2019identit\u00E9 avec photo.\r\n\r\n### Est-ce que l\u2019Oktoberfest est un \u00E9v\u00E9nement pour tous?\r\n\r\nL\u2019\u00E9v\u00E9nement est ouvert \u00E0 toute personne majeure. La priorit\u00E9 de pr\u00E9vente de bocks est cependant mise sur les \u00E9tudiants, autant de tout le campus de l\u2019Universit\u00E9 de Sherbrooke, des diff\u00E9rentes facult\u00E9s de g\u00E9nie du Qu\u00E9bec, de m\u00EAme qu\u2019\u00E0 toute autre association \u00E9tudiante qui voudrait en faire la vente. Si vous \u00EAtes membre d\u2019une association et voudriez commander des bocks pour celle-ci, vous pouvez nous contacter.\r\n\r\n### Si je n\u2019aime pas la bi\u00E8re, est-ce que je devrais venir \u00E0 l\u2019Oktoberfest?\r\n\r\nL\u2019Oktoberfest, c\u2019est bien plus que la bi\u00E8re! C\u2019est l\u2019ambiance, la bonne bouffe traditionnelle, etc. De plus, l\u2019\u00E9quipe de l\u2019Oktoberfest \u00E9tant toujours \u00E0 l\u2019\u00E9coute de sa client\u00E8le, nous vous offrirons encore cette ann\u00E9e des cocktails pr\u00E9par\u00E9s avec diff\u00E9rentes bi\u00E8res. Il s\u2019agit de m\u00E9langes bi\u00E8res et jus qui plaisent la plupart du temps aux gens qui n\u2019aiment pas la bi\u00E8re. Pour plus de d\u00E9tails, voir l'onglet Bi\u00E8res.\r\n\r\n### Est-ce que je peux apporter de la nourriture?\r\n\r\n\u00C0 moins d\u2019avoir besoin de manger r\u00E9guli\u00E8rement pour des raisons m\u00E9dicales, il ne vous est pas permis d\u2019apporter de la nourriture sur le site. Nous vous servirons toute la soir\u00E9e de la nourriture \u00E0 prix plus que comp\u00E9titif! Pour plus de d\u00E9tails, voir [la page Bouffe](https://oktoberfest.ageg.ca/xvi/evenement/bieres/) sur le site web.\r\n\r\n### Est-ce que je peux apporter un ami avec moi?\r\n\r\nCertainement; plus on est de fous, plus on rit!\r\nTout ce que vous avez \u00E0 faire, c\u2019est de vous procurer des bocks pendant les pr\u00E9ventes ou vous assurer de faire la file assez t\u00F4t pour entrer rapidement!\r\nAussi, offrir l\u2019h\u00E9bergement est souvent un argument de poids pour les convaincre de venir.\r\n\r\n### Est-ce que je peux me rendre directement avec mon automobile au Centre de Foires de Sherbrooke?\r\n\r\nPourquoi venir en voiture alors que vous consommerez assur\u00E9ment de l\u2019alcool? Pour ceux qui souhaitent y laissez leur automobile et venir la chercher le lendemain, sachez que le Centre de Foires poss\u00E8de un stationnement de 1100 places. Toutefois, nous vous offrons des alternatives de transport que nous vous sugg\u00E9rons d\u2019utiliser au maximum. Plus de d\u00E9tails dans la section __Horaire autobus__ de l'onglet __Infos__.\r\n\r\n### Est-ce qu\u2019il y aura assez de bi\u00E8res pour tout le monde?\r\n\r\nOui. Impossible que l\u2019Oktoberfest manque de bi\u00E8re!\r\n\r\n### Suis-je assur\u00E9 de pouvoir entrer dans le Centre de Foires si je n\u2019ai pas de bock?\r\nIl faut arriver t\u00F4t pour s\u2019assurer de pouvoir participer au plus grand \u00E9v\u00E8nement universitaire de l\u2019ann\u00E9e! Nous laissons les gens entrer sans bock jusqu\u2019\u00E0 ce que la salle ait presque atteint sa capacit\u00E9 maximale, ce qui peut arriver n\u2019importe quand au cours de la soir\u00E9e.\r\n\r\n### Quelles sortes de bi\u00E8res pourront \u00EAtre d\u00E9gust\u00E9es pendant la soir\u00E9e?\r\n\r\nRendez-vous sur la page [Au menu](https://oktoberfest.ageg.ca/xvi/evenement/bieres/) du site web et tentez de deviner les sortes de bi\u00E8res qui seront servies \u00E0 l\u2019Oktoberfest XVI dans le but de gagner votre bock! Les diff\u00E9rentes bi\u00E8res seront d\u00E9voil\u00E9es d\u00E8s que le concours aura pris fin.\r\n\r\n### Comment j\u2019ach\u00E8te la bi\u00E8re rendu l\u00E0-bas?\r\n\r\nEn arrivant au Centre de Foires, vous pourrez acheter des coupons de remplissage de bock, qui vous permettront de ne jamais vous retrouver le bock vide. Ces coupons sont \u00E9changeables aupr\u00E8s des gentilles personnes derri\u00E8re nos nombreux bars.\r\n\r\n### Quels sont les mets bavarois qui vous seront servis au cours de la soir\u00E9e?\r\n\r\nRendez-vous sur la page [Au menu](https://oktoberfest.ageg.ca/xvi/evenement/bieres/) du site web afin de d\u00E9couvrir les nouveaut\u00E9s dans le menu de cette ann\u00E9e et de saliver un peu!\r\n\r\n### Comment j\u2019ach\u00E8te la nourriture une fois sur place?\r\n\r\nTout comme pour la bi\u00E8re, vous pourrez acheter des coupons \u00E0 l\u2019entr\u00E9e, qui seront \u00E9changeables au comptoir de bouffe tout au long de la soir\u00E9e! Un repas co\u00FBte 2 ou 3 coupons. Arrivez t\u00F4t pour \u00EAtre certain de pouvoir d\u00E9guster le mets de votre choix.\r\n\r\n### Est-ce qu\u2019il y aura assez de toilettes sur le site?\r\n\r\nIl y aura plus d\u2019une quarantaine de toilettes de type chimiques disponibles sur le site, tu vas pouvoir y \u00E9vacuer tout le liquide ing\u00E9r\u00E9.\r\n\r\n# Apr\u00E8s l'\u00E9v\u00E9nement\r\n\r\n### Est-ce qu\u2019il y a des services de raccompagnement?\r\n\r\nUn service de navettes sera disponible toute la soir\u00E9e en partance du campus principal et d\u2019un point strat\u00E9gique pr\u00E8s du campus de la sant\u00E9. Les d\u00E9tails sont disponibles dans la section 'Horaire autobus' de l'onglet 'Infos' de l'application.\r\n\r\n### Qu'est-ce que je fais si je perds un objet pendant l'\u00E9v\u00E9nement?\r\n\r\nPendant l\u2019\u00E9v\u00E8nement, si vous trouvez un objet qui semble perdu, ramenez-le au kiosque d\u2019information, au milieu de la salle pr\u00E8s de l\u2019entr\u00E9e. Les objets trouv\u00E9s au cours de l\u2019\u00E9v\u00E8nement seront conserv\u00E9s pour la soir\u00E9e dans un local d\u00E9di\u00E9 \u00E0 l\u2019organisation. Ceux-ci seront par la suite transport\u00E9s \u00E0 l\u2019AGEG pour y \u00EAtre conserv\u00E9s pendant environ une semaine avant d\u2019\u00EAtre remis \u00E0 la s\u00E9curit\u00E9 de l\u2019Universit\u00E9 de Sherbrooke.\r\n\r\n### Est-ce qu\u2019il est possible de dormir dans les environs du Centre de Foires?\r\n\r\nDe nombreux \u00E9tablissements h\u00F4teliers sont pr\u00E9sents \u00E0 Sherbrooke. Si vous avez besoin d\u2019aide dans vos recherches, on vous conseille d\u2019\u00E9crire \u00E0 [info@okto.ageg.ca](mailto:info@okto.ageg.ca) et on pourra vous informer! Sinon, les \u00E9tudiants sherbrookois sont tr\u00E8s accueillants et vous pouvez tenter de trouver l\u2019ami d\u2019un ami qui aurait un petit coin pour vous loger!"
        }
        
## Plan [/map]

### Get plan [GET]

+ Response 200 (application/json)

        {
          "map_url": "http://felixlapal.me/okto/okto_plan2.png",
          "map_north": 45.42236944444444,
          "map_south": 45.42119166666667,
          "map_east": -71.961625,
          "map_west": -71.96378333333334,
          "map_rotation": -36.8063
        }

## Contest [/contest]

### Get all contest data [GET]

+ Response 200 (application/json)
    + Attributes
        - end_time: `09-25-2016 23:59` (string)
        - contest_steps (array)
            - (ContestStep)
                - id: 1
                - answer: `IPA` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/keiths_ipa_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/ipa.jpeg`
            - (ContestStep)
                - id: 2
                - answer: `Red Amber Ale` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/keiths_red_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/red.jpeg`
            - (ContestStep)
                - id: 3
                - answer: `Hoegaarden` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/hoegaarden_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/hoegaarden.jpeg`
            - (ContestStep)
                - id: 4
                - answer: `Shock Top` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/shocktop_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/shocktop.jpeg`
            - (ContestStep)
                - id: 5
                - answer: `Stella Artois` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/stella_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/stellaartois.jpeg`
            - (ContestStep)
                - id: 6
                - answer: `Chipie` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/chipie_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/chipie.jpeg`
            - (ContestStep)
                - id: 7
                - answer: `Joufflue` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/joufflue_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/joufflue.jpeg`
            - (ContestStep)
                - id: 8
                - answer: `Valkyrie` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/valkyrie_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/valkyrie.jpeg`
            - (ContestStep)
                - id: 9
                - answer: `Matante` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/matante_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/matante.jpeg`
            - (ContestStep)
                - id: 10
                - answer: `IPA` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/goose_ipa_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/goose.jpeg`
            - (ContestStep)
                - id: 11
                - answer: `Organic` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/organic_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/organic.jpeg`
            - (ContestStep)
                - id: 12
                - answer: `Oktoberfest` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/oktoberfest_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/oktoberfest.jpeg`
            - (ContestStep)
                - id: 13
                - answer: `Cobblestone` (required)
                - question_image_url: `http://felixlapal.me/okto/fefewfwe/fouifoui/cobblestone_contest.jpeg`
                - answer_image_url: `http://felixlapal.me/okto/fefewfwe/cobblestone.jpeg`
    
# Data Structures

## Schedule Item (object)

- id: 123 (number, required)
- name: `Quelque chose de bien` (string, required)
- start_time: `08-08-2016 03:00` (string, required)
- large_image_url: `http://lorempixel.com/400/200/` (string, required)
- small_image_url: `http://felixlapal.me/okto/beer.png` (string, required)
- text_color_hex: `DDDDDD`

## Bus Path (object)

- id: 12 (number, required)
- title: `Campus Principal` (required)
- start_time: `17:30` (required)
- interval: 30 (number, required)
- additionnal_string: `Retour seulement`
- thumbnail_url: `http://lorempixel.com/100/100/`
- csv: `-71.96375,45.42155,0.0\n-71.96371,45.42158,0.0\n-71.96433,45.421910000000004,0.0\n-71.96342,45.42274,0.0\n-71.96374,45.42292,0.0\n-71.9642,45.42316,0.0\n-71.96379,45.42356,0.0\n-71.96368,45.42367,0.0\n-71.9636,45.42379,0.0\n-71.96351,45.42393,0.0\n-71.96336,45.42411,0.0\n-71.9632,45.42439,0.0\n-71.96309,45.42461,0.0\n-71.96304,45.42469,0.0\n-71.96297,45.42481000000001,0.0\n-71.96312000000002,45.42485,0.0\n-71.96347,45.42492,0.0\n-71.96403,45.42506,0.0\n-71.9647,45.42525,0.0\n-71.96508,45.42536,0.0\n-71.96539,45.42543,0.0\n-71.96629,45.42581,0.0\n-71.96659000000001,45.42593,0.0\n-71.96665,45.42596,0.0\n-71.96676,45.426,0.0\n-71.96682,45.42602,0.0\n-71.96691,45.42606,0.0\n-71.9672,45.42618,0.0\n-71.96768,45.42638,0.0\n-71.96884000000001,45.42687,0.0\n-71.96915,45.42698,0.0\n-71.96948,45.42709,0.0\n-71.96964,45.42714,0.0\n-71.96996,45.42723,0.0\n-71.9687,45.42869,0.0\n-71.96809,45.4285,0.0\n-71.96779,45.42837,0.0\n-71.96756,45.42828,0.0\n-71.9674,45.42821,0.0\n-71.96732,45.42817,0.0\n-71.96726,45.42813,0.0\n-71.96717,45.42807,0.0\n-71.96712,45.42803,0.0\n-71.96703,45.42795,0.0\n-71.96692,45.42784000000001,0.0\n-71.96686,45.42775,0.0\n-71.96681,45.427670000000006,0.0\n-71.96678,45.42758,0.0\n-71.96676,45.4275,0.0\n-71.96675,45.42745,0.0\n-71.96674,45.42737,0.0\n-71.96673,45.42728,0.0\n-71.96674,45.42721,0.0\n-71.96675,45.42714,0.0\n-71.96677,45.42706,0.0\n-71.96681,45.42696,0.0\n-71.96687,45.42685,0.0\n-71.96692,45.42674,0.0\n-71.967,45.42663,0.0\n-71.96703,45.42657,0.0\n-71.96703,45.42648,0.0\n-71.9671,45.42639,0.0\n-71.96733,45.4261,0.0\n-71.96759,45.42579,0.0\n-71.96794,45.42539,0.0\n-71.96846,45.4248,0.0\n-71.96856,45.42476,0.0\n-71.96862,45.42471,0.0\n-71.96874,45.4246,0.0\n-71.96894,45.42439,0.0\n-71.96947,45.42393,0.0\n-71.96957,45.42384,0.0\n-71.96969,45.42376,0.0\n-71.96981,45.42369,0.0\n-71.96998,45.4236,0.0\n-71.97015,45.42352,0.0\n-71.9703,45.42347,0.0\n-71.97043,45.42343,0.0\n-71.97054,45.42341,0.0\n-71.97071,45.42338000000001,0.0\n-71.97084,45.42336,0.0\n-71.97098,45.42336,0.0\n-71.97115,45.42336,0.0\n-71.97141,45.42337,0.0\n-71.9721,45.42341,0.0\n-71.97274000000002,45.42344,0.0\n-71.9729,45.42343,0.0\n-71.97305,45.42342,0.0\n-71.97316,45.4234,0.0\n-71.97329,45.42338000000001,0.0\n-71.97341,45.42335,0.0\n-71.97354,45.42331,0.0\n-71.97367,45.42327,0.0\n-71.97379,45.42322,0.0\n-71.97388,45.42318,0.0\n-71.97399,45.42311,0.0\n-71.97408,45.42306,0.0\n-71.97424,45.42293,0.0\n-71.97436,45.42281,0.0\n-71.97447,45.42268,0.0\n-71.97456,45.42252,0.0\n-71.97462,45.42238,0.0\n-71.97464,45.42229,0.0\n-71.97466,45.42219,0.0\n-71.97467,45.4221,0.0\n-71.97467,45.42199,0.0\n-71.97466,45.42183,0.0\n-71.97464,45.42173,0.0\n-71.97461,45.42164,0.0\n-71.97459,45.42157,0.0\n-71.97455,45.42148,0.0\n-71.97451,45.42139,0.0\n-71.97444,45.42127,0.0\n-71.9744,45.4212,0.0\n-71.97433,45.42111,0.0\n-71.97417,45.42094,0.0\n-71.974,45.42081,0.0\n-71.97387,45.42072,0.0\n-71.97376,45.42065000000001,0.0\n-71.97346,45.420480000000005,0.0\n-71.97282,45.42014,0.0\n-71.97218,45.4198,0.0\n-71.96822,45.41769,0.0\n-71.96685,45.416970000000006,0.0\n-71.96646,45.41677,0.0\n-71.96605,45.41656,0.0\n-71.96559,45.41631,0.0\n-71.96537,45.41618,0.0\n-71.96524,45.41611,0.0\n-71.965,45.41596,0.0\n-71.96481,45.41585,0.0\n-71.9647,45.41577,0.0\n-71.96449,45.41562,0.0\n-71.96437,45.41554000000001,0.0\n-71.96423,45.41542,0.0\n-71.96409,45.41532000000001,0.0\n-71.96396,45.41519000000001,0.0\n-71.96386,45.41511,0.0\n-71.96378,45.41503,0.0\n-71.96364,45.4149,0.0\n-71.96356,45.41481,0.0\n-71.96344,45.41467,0.0\n-71.96333,45.41455,0.0\n-71.96327,45.41448,0.0\n-71.96317,45.41435,0.0\n-71.96306,45.41422,0.0\n-71.96298,45.4141,0.0\n-71.96292,45.41401,0.0\n-71.96283,45.41388,0.0\n-71.96268,45.41361,0.0\n-71.96256,45.41337,0.0\n-71.9625,45.41325,0.0\n-71.96242,45.41305,0.0\n-71.96235,45.41286,0.0\n-71.9623,45.41269,0.0\n-71.96226,45.41254,0.0\n-71.96222,45.41239,0.0\n-71.96219,45.41222,0.0\n-71.96216,45.41204,0.0\n-71.96213,45.41183,0.0\n-71.96197,45.41037,0.0\n-71.96183,45.40923,0.0\n-71.96179,45.4088,0.0\n-71.96175,45.408480000000004,0.0\n-71.96165,45.40766,0.0\n-71.96151,45.40648,0.0\n-71.96134,45.40507,0.0\n-71.96125,45.404320000000006,0.0\n-71.96101,45.40221,0.0\n-71.96086,45.40103,0.0\n-71.96079,45.40045,0.0\n-71.96076,45.40024,0.0\n-71.96071,45.39994,0.0\n-71.96068,45.39974,0.0\n-71.96064,45.39954,0.0\n-71.96058,45.39925,0.0\n-71.96052000000002,45.39898,0.0\n-71.96044,45.39868,0.0\n-71.96039,45.39847,0.0\n-71.96032,45.39822,0.0\n-71.96024,45.39796,0.0\n-71.96009,45.39747,0.0\n-71.95997,45.39712,0.0\n-71.95957000000001,45.39611,0.0\n-71.95935,45.39556,0.0\n-71.95931,45.39545,0.0\n-71.95919,45.39513,0.0\n-71.95903,45.39474,0.0\n-71.95888000000001,45.394400000000005,0.0\n-71.95864,45.39384,0.0\n-71.95784,45.39194,0.0\n-71.95744,45.39087,0.0\n-71.95679,45.38925,0.0\n-71.95659,45.3887,0.0\n-71.95635,45.38809,0.0\n-71.95624,45.38784,0.0\n-71.95589,45.38697,0.0\n-71.95558,45.38623,0.0\n-71.95366,45.38147,0.0\n-71.95357,45.38125,0.0\n-71.95325,45.38044,0.0\n-71.95309,45.38004,0.0\n-71.95279,45.37935,0.0\n-71.95263,45.37901,0.0\n-71.95262,45.37899,0.0\n-71.95238,45.37852,0.0\n-71.95214,45.37813,0.0\n-71.95182,45.37763,0.0\n-71.95151,45.37719,0.0\n-71.95124,45.37683,0.0\n-71.95095,45.37647,0.0\n-71.95077,45.37625,0.0\n-71.95064000000002,45.3761,0.0\n-71.9498,45.37522,0.0\n-71.94947,45.37492,0.0\n-71.94917,45.37466,0.0\n-71.94881,45.37435,0.0\n-71.94849,45.37409,0.0\n-71.94811,45.37378,0.0\n-71.94772,45.37349,0.0\n-71.94752,45.37334,0.0\n-71.94731,45.37319,0.0\n-71.94688,45.3729,0.0\n-71.9466,45.37273,0.0\n-71.94632,45.37255,0.0\n-71.946,45.37235,0.0\n-71.94551,45.37209,0.0\n-71.94511,45.37185,0.0\n-71.94484000000001,45.37169,0.0\n-71.94363,45.37098,0.0\n-71.94291,45.37057,0.0\n-71.94223,45.3702,0.0\n-71.94188,45.37004,0.0\n-71.94154,45.36988,0.0\n-71.94123,45.36974,0.0\n-71.94093,45.36961,0.0\n-71.94031,45.36938,0.0\n-71.94012,45.36932,0.0\n-71.93937,45.36905000000001,0.0\n-71.93867,45.36883,0.0\n-71.93727,45.36838,0.0\n-71.93689,45.36826,0.0\n-71.93645,45.36813,0.0\n-71.93629,45.36808,0.0\n-71.93594,45.36798,0.0\n-71.93564,45.3679,0.0\n-71.93548,45.36787,0.0\n-71.93544,45.36786,0.0\n-71.93533,45.36784,0.0\n-71.9352,45.36782,0.0\n-71.93508,45.36781,0.0\n-71.93501,45.3678,0.0\n-71.93484,45.36778,0.0\n-71.93462,45.36777,0.0\n-71.9344,45.36777,0.0\n-71.93422,45.36777,0.0\n-71.93415,45.36826,0.0\n-71.9341,45.36854,0.0\n-71.93406,45.3687,0.0\n-71.93403,45.3688,0.0\n-71.93398,45.3689,0.0\n-71.93386,45.36922,0.0\n-71.93352,45.36997,0.0\n-71.93336,45.37027,0.0\n-71.93318,45.37069,0.0\n-71.93314,45.37079,0.0\n-71.93308,45.37093,0.0\n-71.93298,45.37121,0.0\n-71.93296,45.37128,0.0\n-71.93292,45.37142,0.0\n-71.93287,45.37162,0.0\n-71.93283,45.3718,0.0\n-71.93281,45.3719,0.0\n-71.93278,45.37204,0.0\n-71.93277,45.37218,0.0\n-71.93277,45.37222,0.0\n-71.93294,45.37223,0.0\n-71.93341,45.37230000000001,0.0\n-71.93294,45.37223,0.0\n-71.93277,45.37222,0.0\n-71.93276,45.37231,0.0\n-71.93276,45.37253,0.0\n-71.93277,45.37279,0.0\n-71.93279,45.37305,0.0\n-71.93279,45.3731,0.0\n-71.93281,45.37341,0.0\n-71.93282,45.37360000000001,0.0\n-71.93285,45.37404,0.0\n-71.93287,45.37436,0.0\n-71.93291,45.37532,0.0\n-71.93292,45.37547,0.0\n-71.93288,45.37557,0.0\n-71.93284,45.37572,0.0\n-71.93268,45.37689,0.0\n-71.93264,45.37701,0.0\n-71.93262,45.37706,0.0\n-71.93258,45.3771,0.0\n-71.93254,45.37715,0.0\n-71.93247,45.3772,0.0\n-71.9324,45.37724000000001,0.0\n-71.93233,45.37727,0.0\n-71.93224,45.37731,0.0\n-71.93217,45.37733,0.0\n-71.93206,45.37734,0.0\n-71.93193,45.37736,0.0\n-71.93186,45.377370000000006,0.0\n-71.93164,45.37743,0.0\n-71.93093,45.37742,0.0\n-71.93029,45.3774,0.0\n-71.93015,45.3774,0.0\n-71.92977,45.37741,0.0\n-71.92931,45.37714,0.0\n-71.92927,45.37712,0.0\n-71.92923,45.3771,0.0\n-71.92919,45.37709,0.0\n-71.92913,45.37708,0.0\n-71.92891,45.37707,0.0\n-71.92885,45.37688,0.0\n-71.92885,45.37613,0.0\n-71.92854,45.37613,0.0\n-71.92853,45.37686,0.0\n-71.92885,45.37688,0.0\n-71.92891,45.37707,0.0\n-71.929,45.37741,0.0\n-71.92855000000002,45.37741,0.0\n-71.92845,45.37745,0.0\n-71.92842,45.37747,0.0\n-71.92839,45.37749,0.0\n-71.92839,45.37751,0.0\n-71.92838,45.37752,0.0\n-71.92839,45.37755,0.0\n-71.92839,45.37756,0.0\n-71.9284,45.37758,0.0\n-71.92842,45.37759,0.0\n-71.92844,45.3776,0.0\n-71.92854,45.37763,0.0\n-71.92885,45.37763,0.0\n-71.92911,45.37763,0.0\n-71.92922,45.37763,0.0\n-71.92937,45.37762,0.0\n-71.92955,45.37762,0.0\n-71.93019,45.37762,0.0\n-71.93038,45.37762,0.0\n-71.93128,45.37764,0.0\n-71.93172,45.37763,0.0\n-71.93195,45.37763,0.0\n-71.93205,45.37763,0.0\n-71.93214,45.37764,0.0\n-71.93227,45.37766,0.0\n-71.93233,45.37767,0.0\n-71.93246,45.3777,0.0\n-71.93255,45.37774,0.0\n-71.93267,45.37781,0.0\n-71.93273,45.37787,0.0\n-71.93278,45.37795,0.0\n-71.93282,45.37806,0.0\n-71.93286,45.37858,0.0\n-71.93289,45.37874,0.0\n-71.93297000000001,45.379,0.0\n-71.93307,45.37929,0.0\n-71.93309,45.37996,0.0\n-71.93315,45.38079,0.0\n-71.93319,45.38142,0.0\n-71.93319,45.38154,0.0\n-71.93336,45.38154,0.0\n-71.93525,45.38151,0.0\n-71.93645,45.38149,0.0\n-71.93739,45.38147,0.0\n-71.93852,45.38145,0.0\n-71.93959,45.38142,0.0\n-71.9399,45.38141,0.0\n-71.94022,45.38139,0.0\n-71.94044,45.38137,0.0\n-71.94064,45.38135,0.0\n-71.94109,45.38129,0.0\n-71.94153,45.38121,0.0\n-71.94175,45.38116,0.0\n-71.94197,45.3811,0.0\n-71.94228,45.38102,0.0\n-71.94258000000002,45.38092000000001,0.0\n-71.94284,45.38083,0.0\n-71.94301,45.38077,0.0\n-71.94307,45.380750000000006,0.0\n-71.94335,45.38063,0.0\n-71.94358,45.38053,0.0\n-71.94375,45.38044,0.0\n-71.94387,45.38038,0.0\n-71.94405,45.38028,0.0\n-71.94443,45.38008,0.0\n-71.94457,45.37998,0.0\n-71.94475,45.37987,0.0\n-71.94642,45.37887,0.0\n-71.94656,45.37878,0.0\n-71.94666,45.37873,0.0\n-71.94861,45.37754000000001,0.0\n-71.94918,45.37751,0.0\n-71.94942,45.37751,0.0\n-71.94955,45.37751,0.0\n-71.94968,45.3775,0.0\n-71.94982,45.37749,0.0\n-71.95015,45.37751,0.0\n-71.95049,45.37756,0.0\n-71.95086,45.37764,0.0\n-71.95113,45.37775,0.0\n-71.95138,45.37787,0.0\n-71.95149,45.37795,0.0\n-71.95159,45.37804,0.0\n-71.95171,45.37814,0.0\n-71.95186000000001,45.37832,0.0\n-71.95201,45.37853,0.0\n-71.95224,45.37887,0.0\n-71.95241,45.37915,0.0\n-71.95259,45.37951,0.0\n-71.9527,45.3797,0.0\n-71.95283,45.37978,0.0\n-71.95294,45.38005,0.0\n-71.95309,45.38041,0.0\n-71.9532,45.38068,0.0\n-71.95334,45.381,0.0\n-71.95345,45.38129,0.0\n-71.95363,45.38174,0.0\n-71.95461,45.38417,0.0\n-71.95546,45.38625,0.0\n-71.9558,45.38707,0.0\n-71.95606,45.3877,0.0\n-71.95619,45.38803,0.0\n-71.95626,45.38822,0.0\n-71.95643,45.38862,0.0\n-71.95659,45.38903,0.0\n-71.95668,45.38929,0.0\n-71.95684,45.38965,0.0\n-71.95735,45.39095,0.0\n-71.95781,45.39207,0.0\n-71.95866,45.39417,0.0\n-71.95908,45.39522,0.0\n-71.95942,45.39606,0.0\n-71.95968,45.39672,0.0\n-71.9598,45.39702,0.0\n-71.95984,45.39718,0.0\n-71.95988,45.39729,0.0\n-71.9599,45.39738,0.0\n-71.95993,45.39749,0.0\n-71.95995,45.39761,0.0\n-71.95997,45.39772,0.0\n-71.96002,45.39809,0.0\n-71.96005,45.39831,0.0\n-71.96009,45.39861,0.0\n-71.96022,45.3997,0.0\n-71.96034,45.40066,0.0\n-71.96074,45.40416,0.0\n-71.96108,45.40695,0.0\n-71.9612,45.40793,0.0\n-71.96127,45.40863,0.0\n-71.96132,45.40895,0.0\n-71.96139,45.40958,0.0\n-71.96154,45.41081,0.0\n-71.96161,45.4114,0.0\n-71.96165,45.41174,0.0\n-71.96168,45.41197,0.0\n-71.96172,45.41224,0.0\n-71.96176,45.41244,0.0\n-71.9618,45.41259,0.0\n-71.96186,45.41281000000001,0.0\n-71.9619,45.41295,0.0\n-71.96201,45.41324000000001,0.0\n-71.96213,45.4135,0.0\n-71.96222,45.41368,0.0\n-71.9623,45.41385,0.0\n-71.96239,45.414,0.0\n-71.96249,45.41415,0.0\n-71.9626,45.41431,0.0\n-71.9627,45.41444,0.0\n-71.96281,45.41458,0.0\n-71.96283,45.41462,0.0\n-71.96297,45.41478,0.0\n-71.96312000000002,45.41496,0.0\n-71.96316,45.41505,0.0\n-71.96317,45.41508,0.0\n-71.9632,45.41513,0.0\n-71.96324,45.41517,0.0\n-71.96349,45.41545,0.0\n-71.96367,45.41561,0.0\n-71.96387,45.41581,0.0\n-71.96401,45.41593,0.0\n-71.96413,45.41604,0.0\n-71.96435,45.41621,0.0\n-71.96452,45.41634,0.0\n-71.96509,45.41674,0.0\n-71.96528,45.41686,0.0\n-71.96544,45.416970000000006,0.0\n-71.96563000000002,45.41709,0.0\n-71.96613,45.41738,0.0\n-71.96652,45.41761,0.0\n-71.9671,45.41794,0.0\n-71.96745,45.41813,0.0\n-71.96808,45.41847,0.0\n-71.96817,45.41852,0.0\n-71.96827,45.41859,0.0\n-71.96833,45.41865,0.0\n-71.96836,45.41869,0.0\n-71.96839,45.41872,0.0\n-71.96841,45.41876,0.0\n-71.96842,45.41878,0.0\n-71.96843,45.4188,0.0\n-71.96843,45.41883,0.0\n-71.96844,45.41885,0.0\n-71.96844,45.41889,0.0\n-71.96844,45.41894,0.0\n-71.96844,45.41899,0.0\n-71.96843,45.41903,0.0\n-71.96842,45.41906,0.0\n-71.9684,45.4191,0.0\n-71.96838,45.41913,0.0\n-71.96829,45.41923,0.0\n-71.96826,45.41926,0.0\n-71.96804,45.41949,0.0\n-71.96782,45.41973,0.0\n-71.96776,45.41979,0.0\n-71.96747,45.42005,0.0\n-71.96677,45.42075,0.0\n-71.96674,45.42079,0.0\n-71.9667,45.42082,0.0\n-71.96617,45.42131,0.0\n-71.9656,45.42184,0.0\n-71.96484,45.42143000000001,0.0\n-71.9648,45.42139,0.0\n-71.96475,45.42132,0.0\n-71.96472,45.42130000000001,0.0\n-71.96339,45.4206,0.0\n-71.96317,45.42081,0.0\n-71.96298,45.42099,0.0\n-71.96284,45.42111,0.0\n-71.96283,45.42112,0.0\n-71.96363,45.42154,0.0`
Le 0 à la fin est ignoré
- importantPoints (array[Bus Important Point])

## Bus Important Point (object)

- id: 12 (number, required)
- image_url: ``
Petite image
- coordinates: `71.96375,45.42155`
Coordonnées en format "-71.96375,45.42155"

## Beer (object)

- id: 12 (number, required)
- name: `Pas encore disponible !` (required)
- alcohol: 0 (number)
- description: `L'identité des bières sera dévoilée le 26 septembre`
- image_url: `http://felixlapal.me/okto/inconnue.png`
location: ` `

## BeerCategory (object)

- id: 1 (number, required)
- name: `Information masquée` (required)
- beers: Beer (array[Beer])

## Sponsor (object)

- id: 1 (number, required)
- name: ` ` (required)
- image_url: `http://lorempixel.com/50/75/` (required)
- website_url: `http://apple.com/`

## ContestStep (object)

- id: 1 (number, required)
- answer: `Keith` (required)
- question_image_url: `http://felixlapal.me/okto/keith_1.png` (required)
- answer_image_url: `http://felixlapal.me/okto/keith_2.png` (required)nt