FORMAT: 1A
HOST: http://felixlapal.me/

# Oktoberfest

L'API du truc de l'évènement où le monde boivent de la bière.

## Information générale [/info]

### Get general info [GET]

+ Response 200 (application/json)
    + Attributes
        - start_time: `11-11-2016 21:00` (string)
        - sponsors (array)
          - (Sponsor)
              - id: 1
              - image_url: `https://unsplash.it/74/75?random`
          - (Sponsor)
              - id: 2
              - image_url: `https://unsplash.it/75/75?random`
          - (Sponsor)
              - id: 3
              - image_url: `https://unsplash.it/75/74?random`
          - (Sponsor)
              - id: 4
              - image_url: `https://unsplash.it/76/75?random`  
          - (Sponsor)
              - id: 5
              - image_url: `https://unsplash.it/75/76?random`
          - (Sponsor)
              - id: 6
              - image_url: `https://unsplash.it/74/76?random`

## Programmation [/schedule_items]

### Get All Schedule Items [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (Schedule Item)
            - id: 1
            - large_image_url: `http://lorempixel.com/400/200/`
        - (Schedule Item)
            - id: 2
            - large_image_url: `http://lorempixel.com/400/201/`
        - (Schedule Item)
            - id: 3
            - large_image_url: `http://lorempixel.com/401/200/`

## Horaire bus [/bus_schedule]

### Get horaire bus [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (Bus Path)
            - id: 1
        - (Bus Path)
            - id: 2
        - (Bus Path)
            - id: 3
        
        
## Coordonnées [/contact]

### Get coordonnées [GET]

+ Response 200 (application/json)

        {
            "phone": "18195693776",
            "snapchat": "oktosherby",
            "twitter": "Okto_sherbrooke",
            "facebook": "Oktoberfest Sherbrooke",
            "facebook_user": "147013865382109",
            "website_url": "http://oktoberfest.ageg.ca/",
            "email": "felix@lapal.me",
            "physical_address": "Apple\n1 Infinite Loop\nCupertino, California\nUSA",
        }
        
## Bières [/bieres]

### Liste des bières [GET]

+ Response 200 (application/json)
    + Attributes (array)
        - (BeerCategory)
            - id: 1
            - name: Artisanale
            - beers (array[Beer])
                - (Beer)
                   - id: 1
                   - name: blblbll
                - (Beer)
                  - id: 2
                  - name: aha ahaha aha
                - (Beer)
                  - id: 3
                  - name: oohohohoewo
        - (BeerCategory)
            - id: 2
            - name: Non-artisanales
            - beers (array[Beer])
                - (Beer)
                   - id: 4
                   - name: blblbll
                - (Beer)
                  - id: 5
                  - name: aha ahaha aha
                - (Beer)
                  - id: 6
                  - name: oohohohoewo

## FAQ [/faq]

### Get FAQ as markdown [GET]

+ Response 200 (application/json)

        {
          "markdown": "### Quoi?\nOkay\n\n### Où?\nLà!"
        }
        
## Plan [/map]

### Get plan [GET]

+ Response 200 (application/json)

        {
          "map_url": "http://felixlapal.me/okto/okto_plan2.png",
          "map_north": 45.42236944444444,
          "map_south": 45.42119166666667,
          "map_east": 71.961625,
          "map_west": 71.96378333333334,
          "map_rotation": -36.8063
        }
        
## Contest [/contest]

### Get all contest data [GET]

+ Response 200 (application/json)
    + Attributes
        - end_time: `11-11-2016 21:00` (string)
        - contest_steps (array)
            - (ContestStep)
                - id: 1
                - answer: `Keith` (required)
                - question_image_url: `http://felixlapal.me/okto/keith_1.png`
                - answer_image_url: `http://felixlapal.me/okto/keith_2.png`
            - (ContestStep)
                - id: 2
                - answer: `Pabst` (required)
                - question_image_url: `http://felixlapal.me/okto/pabst_1.png`
                - answer_image_url: `http://felixlapal.me/okto/pabst_2.png`
    
# Data Structures

## Schedule Item (object)

- id: 123 (number, required)
- name: `Led Zeppelin` (string, required)
- start_time: `08-08-2016 03:00` (string, required)
- end_time: `08-08-2016 05:00` (string, required)
- large_image_url: `http://lorempixel.com/400/200/` (string, required)
- small_image_url: `http://felixlapal.me/okto/beer.png` (string, required)
- description: `une description normale là` (string)

## Bus Path (object)

- id: 12 (number, required)
- title: `Campus Principal` (required)
- start_time: `17:30` (required)
- interval: 30 (number, required)
- additionnal_string: `Retour seulement`
- thumbnail_url: `http://lorempixel.com/100/100/`
- csv: `-71.96375,45.42155,0.0\n-71.96371,45.42158,0.0\n-71.96433,45.421910000000004,0.0\n-71.96342,45.42274,0.0\n-71.96374,45.42292,0.0\n-71.9642,45.42316,0.0\n-71.96379,45.42356,0.0\n-71.96368,45.42367,0.0\n-71.9636,45.42379,0.0\n-71.96351,45.42393,0.0\n-71.96336,45.42411,0.0\n-71.9632,45.42439,0.0\n-71.96309,45.42461,0.0\n-71.96304,45.42469,0.0\n-71.96297,45.42481000000001,0.0\n-71.96312000000002,45.42485,0.0\n-71.96347,45.42492,0.0\n-71.96403,45.42506,0.0\n-71.9647,45.42525,0.0\n-71.96508,45.42536,0.0\n-71.96539,45.42543,0.0\n-71.96629,45.42581,0.0\n-71.96659000000001,45.42593,0.0\n-71.96665,45.42596,0.0\n-71.96676,45.426,0.0\n-71.96682,45.42602,0.0\n-71.96691,45.42606,0.0\n-71.9672,45.42618,0.0\n-71.96768,45.42638,0.0\n-71.96884000000001,45.42687,0.0\n-71.96915,45.42698,0.0\n-71.96948,45.42709,0.0\n-71.96964,45.42714,0.0\n-71.96996,45.42723,0.0\n-71.9687,45.42869,0.0\n-71.96809,45.4285,0.0\n-71.96779,45.42837,0.0\n-71.96756,45.42828,0.0\n-71.9674,45.42821,0.0\n-71.96732,45.42817,0.0\n-71.96726,45.42813,0.0\n-71.96717,45.42807,0.0\n-71.96712,45.42803,0.0\n-71.96703,45.42795,0.0\n-71.96692,45.42784000000001,0.0\n-71.96686,45.42775,0.0\n-71.96681,45.427670000000006,0.0\n-71.96678,45.42758,0.0\n-71.96676,45.4275,0.0\n-71.96675,45.42745,0.0\n-71.96674,45.42737,0.0\n-71.96673,45.42728,0.0\n-71.96674,45.42721,0.0\n-71.96675,45.42714,0.0\n-71.96677,45.42706,0.0\n-71.96681,45.42696,0.0\n-71.96687,45.42685,0.0\n-71.96692,45.42674,0.0\n-71.967,45.42663,0.0\n-71.96703,45.42657,0.0\n-71.96703,45.42648,0.0\n-71.9671,45.42639,0.0\n-71.96733,45.4261,0.0\n-71.96759,45.42579,0.0\n-71.96794,45.42539,0.0\n-71.96846,45.4248,0.0\n-71.96856,45.42476,0.0\n-71.96862,45.42471,0.0\n-71.96874,45.4246,0.0\n-71.96894,45.42439,0.0\n-71.96947,45.42393,0.0\n-71.96957,45.42384,0.0\n-71.96969,45.42376,0.0\n-71.96981,45.42369,0.0\n-71.96998,45.4236,0.0\n-71.97015,45.42352,0.0\n-71.9703,45.42347,0.0\n-71.97043,45.42343,0.0\n-71.97054,45.42341,0.0\n-71.97071,45.42338000000001,0.0\n-71.97084,45.42336,0.0\n-71.97098,45.42336,0.0\n-71.97115,45.42336,0.0\n-71.97141,45.42337,0.0\n-71.9721,45.42341,0.0\n-71.97274000000002,45.42344,0.0\n-71.9729,45.42343,0.0\n-71.97305,45.42342,0.0\n-71.97316,45.4234,0.0\n-71.97329,45.42338000000001,0.0\n-71.97341,45.42335,0.0\n-71.97354,45.42331,0.0\n-71.97367,45.42327,0.0\n-71.97379,45.42322,0.0\n-71.97388,45.42318,0.0\n-71.97399,45.42311,0.0\n-71.97408,45.42306,0.0\n-71.97424,45.42293,0.0\n-71.97436,45.42281,0.0\n-71.97447,45.42268,0.0\n-71.97456,45.42252,0.0\n-71.97462,45.42238,0.0\n-71.97464,45.42229,0.0\n-71.97466,45.42219,0.0\n-71.97467,45.4221,0.0\n-71.97467,45.42199,0.0\n-71.97466,45.42183,0.0\n-71.97464,45.42173,0.0\n-71.97461,45.42164,0.0\n-71.97459,45.42157,0.0\n-71.97455,45.42148,0.0\n-71.97451,45.42139,0.0\n-71.97444,45.42127,0.0\n-71.9744,45.4212,0.0\n-71.97433,45.42111,0.0\n-71.97417,45.42094,0.0\n-71.974,45.42081,0.0\n-71.97387,45.42072,0.0\n-71.97376,45.42065000000001,0.0\n-71.97346,45.420480000000005,0.0\n-71.97282,45.42014,0.0\n-71.97218,45.4198,0.0\n-71.96822,45.41769,0.0\n-71.96685,45.416970000000006,0.0\n-71.96646,45.41677,0.0\n-71.96605,45.41656,0.0\n-71.96559,45.41631,0.0\n-71.96537,45.41618,0.0\n-71.96524,45.41611,0.0\n-71.965,45.41596,0.0\n-71.96481,45.41585,0.0\n-71.9647,45.41577,0.0\n-71.96449,45.41562,0.0\n-71.96437,45.41554000000001,0.0\n-71.96423,45.41542,0.0\n-71.96409,45.41532000000001,0.0\n-71.96396,45.41519000000001,0.0\n-71.96386,45.41511,0.0\n-71.96378,45.41503,0.0\n-71.96364,45.4149,0.0\n-71.96356,45.41481,0.0\n-71.96344,45.41467,0.0\n-71.96333,45.41455,0.0\n-71.96327,45.41448,0.0\n-71.96317,45.41435,0.0\n-71.96306,45.41422,0.0\n-71.96298,45.4141,0.0\n-71.96292,45.41401,0.0\n-71.96283,45.41388,0.0\n-71.96268,45.41361,0.0\n-71.96256,45.41337,0.0\n-71.9625,45.41325,0.0\n-71.96242,45.41305,0.0\n-71.96235,45.41286,0.0\n-71.9623,45.41269,0.0\n-71.96226,45.41254,0.0\n-71.96222,45.41239,0.0\n-71.96219,45.41222,0.0\n-71.96216,45.41204,0.0\n-71.96213,45.41183,0.0\n-71.96197,45.41037,0.0\n-71.96183,45.40923,0.0\n-71.96179,45.4088,0.0\n-71.96175,45.408480000000004,0.0\n-71.96165,45.40766,0.0\n-71.96151,45.40648,0.0\n-71.96134,45.40507,0.0\n-71.96125,45.404320000000006,0.0\n-71.96101,45.40221,0.0\n-71.96086,45.40103,0.0\n-71.96079,45.40045,0.0\n-71.96076,45.40024,0.0\n-71.96071,45.39994,0.0\n-71.96068,45.39974,0.0\n-71.96064,45.39954,0.0\n-71.96058,45.39925,0.0\n-71.96052000000002,45.39898,0.0\n-71.96044,45.39868,0.0\n-71.96039,45.39847,0.0\n-71.96032,45.39822,0.0\n-71.96024,45.39796,0.0\n-71.96009,45.39747,0.0\n-71.95997,45.39712,0.0\n-71.95957000000001,45.39611,0.0\n-71.95935,45.39556,0.0\n-71.95931,45.39545,0.0\n-71.95919,45.39513,0.0\n-71.95903,45.39474,0.0\n-71.95888000000001,45.394400000000005,0.0\n-71.95864,45.39384,0.0\n-71.95784,45.39194,0.0\n-71.95744,45.39087,0.0\n-71.95679,45.38925,0.0\n-71.95659,45.3887,0.0\n-71.95635,45.38809,0.0\n-71.95624,45.38784,0.0\n-71.95589,45.38697,0.0\n-71.95558,45.38623,0.0\n-71.95366,45.38147,0.0\n-71.95357,45.38125,0.0\n-71.95325,45.38044,0.0\n-71.95309,45.38004,0.0\n-71.95279,45.37935,0.0\n-71.95263,45.37901,0.0\n-71.95262,45.37899,0.0\n-71.95238,45.37852,0.0\n-71.95214,45.37813,0.0\n-71.95182,45.37763,0.0\n-71.95151,45.37719,0.0\n-71.95124,45.37683,0.0\n-71.95095,45.37647,0.0\n-71.95077,45.37625,0.0\n-71.95064000000002,45.3761,0.0\n-71.9498,45.37522,0.0\n-71.94947,45.37492,0.0\n-71.94917,45.37466,0.0\n-71.94881,45.37435,0.0\n-71.94849,45.37409,0.0\n-71.94811,45.37378,0.0\n-71.94772,45.37349,0.0\n-71.94752,45.37334,0.0\n-71.94731,45.37319,0.0\n-71.94688,45.3729,0.0\n-71.9466,45.37273,0.0\n-71.94632,45.37255,0.0\n-71.946,45.37235,0.0\n-71.94551,45.37209,0.0\n-71.94511,45.37185,0.0\n-71.94484000000001,45.37169,0.0\n-71.94363,45.37098,0.0\n-71.94291,45.37057,0.0\n-71.94223,45.3702,0.0\n-71.94188,45.37004,0.0\n-71.94154,45.36988,0.0\n-71.94123,45.36974,0.0\n-71.94093,45.36961,0.0\n-71.94031,45.36938,0.0\n-71.94012,45.36932,0.0\n-71.93937,45.36905000000001,0.0\n-71.93867,45.36883,0.0\n-71.93727,45.36838,0.0\n-71.93689,45.36826,0.0\n-71.93645,45.36813,0.0\n-71.93629,45.36808,0.0\n-71.93594,45.36798,0.0\n-71.93564,45.3679,0.0\n-71.93548,45.36787,0.0\n-71.93544,45.36786,0.0\n-71.93533,45.36784,0.0\n-71.9352,45.36782,0.0\n-71.93508,45.36781,0.0\n-71.93501,45.3678,0.0\n-71.93484,45.36778,0.0\n-71.93462,45.36777,0.0\n-71.9344,45.36777,0.0\n-71.93422,45.36777,0.0\n-71.93415,45.36826,0.0\n-71.9341,45.36854,0.0\n-71.93406,45.3687,0.0\n-71.93403,45.3688,0.0\n-71.93398,45.3689,0.0\n-71.93386,45.36922,0.0\n-71.93352,45.36997,0.0\n-71.93336,45.37027,0.0\n-71.93318,45.37069,0.0\n-71.93314,45.37079,0.0\n-71.93308,45.37093,0.0\n-71.93298,45.37121,0.0\n-71.93296,45.37128,0.0\n-71.93292,45.37142,0.0\n-71.93287,45.37162,0.0\n-71.93283,45.3718,0.0\n-71.93281,45.3719,0.0\n-71.93278,45.37204,0.0\n-71.93277,45.37218,0.0\n-71.93277,45.37222,0.0\n-71.93294,45.37223,0.0\n-71.93341,45.37230000000001,0.0\n-71.93294,45.37223,0.0\n-71.93277,45.37222,0.0\n-71.93276,45.37231,0.0\n-71.93276,45.37253,0.0\n-71.93277,45.37279,0.0\n-71.93279,45.37305,0.0\n-71.93279,45.3731,0.0\n-71.93281,45.37341,0.0\n-71.93282,45.37360000000001,0.0\n-71.93285,45.37404,0.0\n-71.93287,45.37436,0.0\n-71.93291,45.37532,0.0\n-71.93292,45.37547,0.0\n-71.93288,45.37557,0.0\n-71.93284,45.37572,0.0\n-71.93268,45.37689,0.0\n-71.93264,45.37701,0.0\n-71.93262,45.37706,0.0\n-71.93258,45.3771,0.0\n-71.93254,45.37715,0.0\n-71.93247,45.3772,0.0\n-71.9324,45.37724000000001,0.0\n-71.93233,45.37727,0.0\n-71.93224,45.37731,0.0\n-71.93217,45.37733,0.0\n-71.93206,45.37734,0.0\n-71.93193,45.37736,0.0\n-71.93186,45.377370000000006,0.0\n-71.93164,45.37743,0.0\n-71.93093,45.37742,0.0\n-71.93029,45.3774,0.0\n-71.93015,45.3774,0.0\n-71.92977,45.37741,0.0\n-71.92931,45.37714,0.0\n-71.92927,45.37712,0.0\n-71.92923,45.3771,0.0\n-71.92919,45.37709,0.0\n-71.92913,45.37708,0.0\n-71.92891,45.37707,0.0\n-71.92885,45.37688,0.0\n-71.92885,45.37613,0.0\n-71.92854,45.37613,0.0\n-71.92853,45.37686,0.0\n-71.92885,45.37688,0.0\n-71.92891,45.37707,0.0\n-71.929,45.37741,0.0\n-71.92855000000002,45.37741,0.0\n-71.92845,45.37745,0.0\n-71.92842,45.37747,0.0\n-71.92839,45.37749,0.0\n-71.92839,45.37751,0.0\n-71.92838,45.37752,0.0\n-71.92839,45.37755,0.0\n-71.92839,45.37756,0.0\n-71.9284,45.37758,0.0\n-71.92842,45.37759,0.0\n-71.92844,45.3776,0.0\n-71.92854,45.37763,0.0\n-71.92885,45.37763,0.0\n-71.92911,45.37763,0.0\n-71.92922,45.37763,0.0\n-71.92937,45.37762,0.0\n-71.92955,45.37762,0.0\n-71.93019,45.37762,0.0\n-71.93038,45.37762,0.0\n-71.93128,45.37764,0.0\n-71.93172,45.37763,0.0\n-71.93195,45.37763,0.0\n-71.93205,45.37763,0.0\n-71.93214,45.37764,0.0\n-71.93227,45.37766,0.0\n-71.93233,45.37767,0.0\n-71.93246,45.3777,0.0\n-71.93255,45.37774,0.0\n-71.93267,45.37781,0.0\n-71.93273,45.37787,0.0\n-71.93278,45.37795,0.0\n-71.93282,45.37806,0.0\n-71.93286,45.37858,0.0\n-71.93289,45.37874,0.0\n-71.93297000000001,45.379,0.0\n-71.93307,45.37929,0.0\n-71.93309,45.37996,0.0\n-71.93315,45.38079,0.0\n-71.93319,45.38142,0.0\n-71.93319,45.38154,0.0\n-71.93336,45.38154,0.0\n-71.93525,45.38151,0.0\n-71.93645,45.38149,0.0\n-71.93739,45.38147,0.0\n-71.93852,45.38145,0.0\n-71.93959,45.38142,0.0\n-71.9399,45.38141,0.0\n-71.94022,45.38139,0.0\n-71.94044,45.38137,0.0\n-71.94064,45.38135,0.0\n-71.94109,45.38129,0.0\n-71.94153,45.38121,0.0\n-71.94175,45.38116,0.0\n-71.94197,45.3811,0.0\n-71.94228,45.38102,0.0\n-71.94258000000002,45.38092000000001,0.0\n-71.94284,45.38083,0.0\n-71.94301,45.38077,0.0\n-71.94307,45.380750000000006,0.0\n-71.94335,45.38063,0.0\n-71.94358,45.38053,0.0\n-71.94375,45.38044,0.0\n-71.94387,45.38038,0.0\n-71.94405,45.38028,0.0\n-71.94443,45.38008,0.0\n-71.94457,45.37998,0.0\n-71.94475,45.37987,0.0\n-71.94642,45.37887,0.0\n-71.94656,45.37878,0.0\n-71.94666,45.37873,0.0\n-71.94861,45.37754000000001,0.0\n-71.94918,45.37751,0.0\n-71.94942,45.37751,0.0\n-71.94955,45.37751,0.0\n-71.94968,45.3775,0.0\n-71.94982,45.37749,0.0\n-71.95015,45.37751,0.0\n-71.95049,45.37756,0.0\n-71.95086,45.37764,0.0\n-71.95113,45.37775,0.0\n-71.95138,45.37787,0.0\n-71.95149,45.37795,0.0\n-71.95159,45.37804,0.0\n-71.95171,45.37814,0.0\n-71.95186000000001,45.37832,0.0\n-71.95201,45.37853,0.0\n-71.95224,45.37887,0.0\n-71.95241,45.37915,0.0\n-71.95259,45.37951,0.0\n-71.9527,45.3797,0.0\n-71.95283,45.37978,0.0\n-71.95294,45.38005,0.0\n-71.95309,45.38041,0.0\n-71.9532,45.38068,0.0\n-71.95334,45.381,0.0\n-71.95345,45.38129,0.0\n-71.95363,45.38174,0.0\n-71.95461,45.38417,0.0\n-71.95546,45.38625,0.0\n-71.9558,45.38707,0.0\n-71.95606,45.3877,0.0\n-71.95619,45.38803,0.0\n-71.95626,45.38822,0.0\n-71.95643,45.38862,0.0\n-71.95659,45.38903,0.0\n-71.95668,45.38929,0.0\n-71.95684,45.38965,0.0\n-71.95735,45.39095,0.0\n-71.95781,45.39207,0.0\n-71.95866,45.39417,0.0\n-71.95908,45.39522,0.0\n-71.95942,45.39606,0.0\n-71.95968,45.39672,0.0\n-71.9598,45.39702,0.0\n-71.95984,45.39718,0.0\n-71.95988,45.39729,0.0\n-71.9599,45.39738,0.0\n-71.95993,45.39749,0.0\n-71.95995,45.39761,0.0\n-71.95997,45.39772,0.0\n-71.96002,45.39809,0.0\n-71.96005,45.39831,0.0\n-71.96009,45.39861,0.0\n-71.96022,45.3997,0.0\n-71.96034,45.40066,0.0\n-71.96074,45.40416,0.0\n-71.96108,45.40695,0.0\n-71.9612,45.40793,0.0\n-71.96127,45.40863,0.0\n-71.96132,45.40895,0.0\n-71.96139,45.40958,0.0\n-71.96154,45.41081,0.0\n-71.96161,45.4114,0.0\n-71.96165,45.41174,0.0\n-71.96168,45.41197,0.0\n-71.96172,45.41224,0.0\n-71.96176,45.41244,0.0\n-71.9618,45.41259,0.0\n-71.96186,45.41281000000001,0.0\n-71.9619,45.41295,0.0\n-71.96201,45.41324000000001,0.0\n-71.96213,45.4135,0.0\n-71.96222,45.41368,0.0\n-71.9623,45.41385,0.0\n-71.96239,45.414,0.0\n-71.96249,45.41415,0.0\n-71.9626,45.41431,0.0\n-71.9627,45.41444,0.0\n-71.96281,45.41458,0.0\n-71.96283,45.41462,0.0\n-71.96297,45.41478,0.0\n-71.96312000000002,45.41496,0.0\n-71.96316,45.41505,0.0\n-71.96317,45.41508,0.0\n-71.9632,45.41513,0.0\n-71.96324,45.41517,0.0\n-71.96349,45.41545,0.0\n-71.96367,45.41561,0.0\n-71.96387,45.41581,0.0\n-71.96401,45.41593,0.0\n-71.96413,45.41604,0.0\n-71.96435,45.41621,0.0\n-71.96452,45.41634,0.0\n-71.96509,45.41674,0.0\n-71.96528,45.41686,0.0\n-71.96544,45.416970000000006,0.0\n-71.96563000000002,45.41709,0.0\n-71.96613,45.41738,0.0\n-71.96652,45.41761,0.0\n-71.9671,45.41794,0.0\n-71.96745,45.41813,0.0\n-71.96808,45.41847,0.0\n-71.96817,45.41852,0.0\n-71.96827,45.41859,0.0\n-71.96833,45.41865,0.0\n-71.96836,45.41869,0.0\n-71.96839,45.41872,0.0\n-71.96841,45.41876,0.0\n-71.96842,45.41878,0.0\n-71.96843,45.4188,0.0\n-71.96843,45.41883,0.0\n-71.96844,45.41885,0.0\n-71.96844,45.41889,0.0\n-71.96844,45.41894,0.0\n-71.96844,45.41899,0.0\n-71.96843,45.41903,0.0\n-71.96842,45.41906,0.0\n-71.9684,45.4191,0.0\n-71.96838,45.41913,0.0\n-71.96829,45.41923,0.0\n-71.96826,45.41926,0.0\n-71.96804,45.41949,0.0\n-71.96782,45.41973,0.0\n-71.96776,45.41979,0.0\n-71.96747,45.42005,0.0\n-71.96677,45.42075,0.0\n-71.96674,45.42079,0.0\n-71.9667,45.42082,0.0\n-71.96617,45.42131,0.0\n-71.9656,45.42184,0.0\n-71.96484,45.42143000000001,0.0\n-71.9648,45.42139,0.0\n-71.96475,45.42132,0.0\n-71.96472,45.42130000000001,0.0\n-71.96339,45.4206,0.0\n-71.96317,45.42081,0.0\n-71.96298,45.42099,0.0\n-71.96284,45.42111,0.0\n-71.96283,45.42112,0.0\n-71.96363,45.42154,0.0`
Le 0 à la fin est ignoré
- importantPoints (array[Bus Important Point])
    - (Bus Important Point)
        - id: 1 (number)
        - coordinates: `-71.36375,45.42155`
    - (Bus Important Point)
        - id: 2 (number)
        - coordinates: `-71.96375,45.42155`
    - (Bus Important Point)
        - id: 3 (number)
        - coordinates: `-71.36375,45.26155`

## Bus Important Point (object)

- id: 12 (number, required)
- image_url: `http://lorempixel.com/40/40/`
Petite image
- coordinates: `-71.96375,45.42155`
Coordonnées en format "-71.96375,45.42155"

## Beer (object)

- id: 12 (number, required)
- name: `Molson Dry` (required)
- alcohol: 5.5 (number)
- description: `Une bière qui coute pas cher`
- image_url: `http://felixlapal.me/okto/keith.png`
- location: `Coaticook, Québec`

## BeerCategory (object)

- id: 1 (number, required)
- name: `Artisanales` (required)
- beers: Beer (array[Beer])

## Sponsor (object)

- id: 1 (number, required)
- name: `Blabla` (required)
- image_url: `http://lorempixel.com/50/75/` (required)
- website_url: `http://apple.com/`

## ContestStep (object)

- id: 1 (number, required)
- answer: `Keith` (required)
- question_image_url: `http://felixlapal.me/okto/keith_1.png` (required)
- answer_image_url: `http://felixlapal.me/okto/keith_2.png` (required)